<html lang="ja">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112590294-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-112590294-1');
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" id="js-viewport">
<title>ビットエージェント｜BITAGENT(ビット)</title>
<meta name="keywords" content="フリーランス,個人事業主,フリーエンジニア,デザイナー,求人・案件,ビットエージェント,BITAGENT,ビット">
<meta name="description" content="IT・Web業界のフリーランスエンジニア向け求人・案件募集情報サイトです。">
<link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
<link rel="icon" href="favicon.ico" type="image/vnd.microsoft.icon">
<link rel="canonical" href="http://bit-agent.co.jp">
<meta property="og:title" content="ビットエージェント">
<meta property="og:description" content="SES事業,委託開発,アプリケーション開発,コンサルティング事業,運用保守">
<meta property="og:site_name" content="ビットエージェント">
<meta property="og:type" content="website">
<meta property="og:locale" content="ja_JP">
<meta property="og:url" content="http://bit-agent.co.jp/">
<meta property="og:image" content="http://bit-agent.co.jp/img/ogimage.jpg">
<link rel="stylesheet" href="/css/all.min.css" media="screen">
<link rel="stylesheet" href="/lib/flexslider.css" type="text/css" />
<script src="/js/all.min.js?20180412"></script>
<script src="/lib/jquery.flexslider-min.js"></script>
</head>
<body>
<script id="top" type="text/x-handlebars-template">
	<div class="modal js-modal_menu">
		<div class="modal-top js-modal-top">
			<a href="javascript:void(0)" class="modal-top-close js-modal_close"></a>
			<p class="modal-top-logo">{{title2}}</p>
			<p class="modal-top-img"></p>
		</div>
		<ul class="modal-menu js-modal-menu">
			<li><a href="/company/">{{menulist.menu1}}</a></li>
			<li><a href="/business/">{{menulist.menu2}}</a></li>
			<li><a href="/recruit/">{{menulist.menu3}}</a></li>
			<li class="js-is_korean is-hidden"><a href="/support/">현지서포트</a></li>
			<li><a href="/contact/" class="modal-menu-info {{menuInfoIcon}}">{{menulist.menu4}}</a></li>
			<li>
				<div class="modal-menu-language">
					<a href="javascript:void(0)" class="modal-menu-language-jp js-lang_jp">JP</a>
					<a href="javascript:void(0)" class="modal-menu-language-kr js-lang_kr">KR</a>
				</div>
			</li>
		</ul>
	</div>
	<a href="#" class="page_top js-page_top"><img src="/img/common/sp/page_top.png" width="50" height="50" /></a>
	<div class="header js-header">
		<h1><a href="/"><img src="/img/top/sp/{{header_logo}}" width="" height="" alt="{{title}}"></a></h1>
		<a href="javascript:void(0)" class="header-menu_bt js-menu_bt"></a>
	</div>
	<div class="contents js-contents">
		<div class="contents-main">
			<img src="/img/top/sp/{{mainImg}}" width="100%" alt="BIT AGENT">
		</div>
		<ul class="contents-menu">
			<li>
				<a href="/news/">
					<ul class="contents-menu-news">
						<li class="contents-menu-news-title">News・Notice</li>
						<li class="contents-menu-news-more">{{listView}}</li>
					</ul>
				</a>
			</li>
			<li>
				<a href="/business/">
					<ul class="contents-menu-business">
						<li class="contents-menu-business-title">Our business</li>
						<li class="contents-menu-business-more">{{listView}}</li>
					</ul>
				</a>
			</li>
			<li>
				<a href="/business/#ses-desc">
					<img src="/img/top/sp/top_link_4.png" width="100%" alt="{{businessList.menu1}}">
					<p class="contents-menu-ses">{{businessList.menu1}}</p>
				</a>
			</li>
			<li>
				<a href="/business/#entrusted-desc">
					<img src="/img/top/sp/top_link_5.png" width="100%" alt="{{businessList.menu2}}">
					<p class="contents-menu-entrusted">{{businessList.menu2}}</p>
				</a>
			</li>
			<li>
				<a href="/business/#businesseapp-desc">
					<img src="/img/top/sp/top_link_6.png" width="100%" alt="{{businessList.menu3}}">
					<p class="contents-menu-businesseapp">{{businessList.menu3}}</p>
				</a>
			</li>
			<li>
				<a href="/business/#maintenance-desc">
					<img src="/img/top/sp/top_link_7.png" width="100%" alt="{{businessList.menu4}}">
					<p class="contents-menu-maintenance">{{businessList.menu4}}</p>
				</a>
			</li>
			<li>
				<a href="/business/#consulting-desc">
					<img src="/img/top/sp/top_link_8.png" width="100%" alt="{{businessList.menu5}}">
					<p class="contents-menu-consulting">{{businessList.menu5}}</p>
				</a>
			</li>
			<li>
				<a href="/business/#smartapp-desc">
					<img src="/img/top/sp/top_link_9.png" width="100%" alt="{{businessList.menu6}}">
					<p class="contents-menu-smartapp">{{businessList.menu6}}</p>
				</a>
			</li>
		</ul>
	</div>
	<div class="footer js-footer">
		<ul class="footer-list">
			<li><a href="/policy/">{{footerList.menu1}}</a></li>
			<li><a href="/security/">{{footerList.menu2}}</a></li>
			<li><a href="/partner/">{{footerList.menu3}}</a></li>
		</ul>
		<h2>&copy;bit-agent 2018 All right reserved.</h2>
	</div>
	<div class="pc-layout">
		<ul class="pc-menu">
			<li>
				<p class="pc-menu-logo">{{title}}</p>
			</li>
			<li><a href="/company/">{{menulist.menu1}}</a></li>
			<li><a href="/business/">{{menulist.menu2}}</a></li>
			<li><a href="/recruit/">{{menulist.menu3}}</a></li>
			<li class="js-is_korean"><a href="/support/">현지서포트</a></li>
			<li><a href="/contact/" class="pc-menu-info">{{menulist.menu4}}</a></li>
			<li>
				<div class="pc-menu-language">
					<a href="javascript:void(0)" class="pc-menu-language-jp js-lang_jp">JP</a>
					<a href="javascript:void(0)" class="pc-menu-language-kr js-lang_kr">KR</a>
				</div>
			</li>
		</ul>
		<div class="pc-contents">
			<a href="#" class="pc-page_top js-pc-page_top"><img src="/img/common/pc/page_top.png" width="50" height="50" /></a>
			<div class="pc-contents-main">
				<ul class="pc-contents-main-title">
					<li class="pc-contents-main-title-text">{{subject}}</li>
					<li class="pc-contents-main-title-name">BIT AGENT</li>
				</ul>
				<div class="flexslider">
					<ul class="slides pc-contents-main-img js-pc_contents-main">
						<li><img src="/img/top/pc/top_1.jpg" width="1080" height="700"></li>
						<li><img src="/img/top/pc/top_2.jpg" width="1080" height="700"></li>
						<li><img src="/img/top/pc/top_3.jpg" width="1080" height="700"></li>
						<li><img src="/img/top/pc/top_4.jpg" width="1080" height="700"></li>
						<li><img src="/img/top/pc/top_5.jpg" width="1080" height="700"></li>
					</ul>
				</div>
			</div>
			<div class="pc-contents-news">
				<a href="/news/" class="pc-contents-news-title">
					<ul class="pc-contents-news-title-info">
						<li class="pc-contents-news-title-info-text">News・Notice</li>
						<li class="pc-contents-news-title-info-more">{{listView}}</li>
					</ul>
				</a>
				<ul class="pc-contents-news-desc">
          <li>
						<a href="/notice/5/">
							<p class="pc-contents-news-desc-date">2018.4.4</p>
							<p class="pc-contents-news-desc-text"><span class="new-icon"></span>{{notice.5.title}}
							</p>
						</a>
					</li>
					<li>
						<a href="/notice/4/">
							<p class="pc-contents-news-desc-date">2018.3.5</p>
							<p class="pc-contents-news-desc-text">
								{{notice.4.title}}
							</p>
						</a>
					</li>
					<li>
						<a href="/notice/3/">
							<p class="pc-contents-news-desc-date">2018.2.2</p>
							<p class="pc-contents-news-desc-text">
								{{notice.3.title}}
							</p>
						</a>
					</li>
					<li>
						<a href="/notice/2/">
							<p class="pc-contents-news-desc-date">2018.1.10</p>
							<p class="pc-contents-news-desc-text">
								{{notice.2.title}}
							</p>
						</a>
					</li>
					<li>
						<a href="/news/2/">
							<p class="pc-contents-news-desc-date">2018.1.6</p>
							<p class="pc-contents-news-desc-text">
								{{news.2.title}}
							</p>
						</a>
					</li>
					<li>
						<a href="/notice/1/">
							<p class="pc-contents-news-desc-date">2017.12.1</p>
							<p class="pc-contents-news-desc-text">{{notice.1.title}}</p>
						</a>
					</li>
				</ul>
			</div>
			<div class="pc-contents-business">
				<a href="/business/" class="pc-contents-business-title">
					<ul class="pc-contents-business-title-info">
						<li class="pc-contents-business-title-info-text">Our business</li>
						<li class="pc-contents-business-title-info-more">{{listView}}</li>
					</ul>
				</a>
			</div>
			<ul class="pc-contents-menu">
				<li>
					<a href="/business/#ses-desc-pc">
						<img src="/img/top/sp/top_link_4.png" width="100%" alt="{{businessList.menu1}}">
						<p class="pc-contents-menu-ses">{{businessList.menu1}}</p>
					</a>
				</li>
				<li>
					<a href="/business/#entrusted-desc-pc">
						<img src="/img/top/sp/top_link_5.png" width="100%" alt="委託開発">
						<p class="pc-contents-menu-entrusted">{{businessList.menu2}}</p>
					</a>
				</li>
				<li>
					<a href="/business/#businesseapp-desc-pc">
						<img src="/img/top/sp/top_link_6.png" width="100%" alt="社内向け業務アプリ開発">
						<p class="pc-contents-menu-businesseapp">{{businessList.menu3}}</p>
					</a>
				</li>
				<li>
					<a href="/business/#maintenance-desc-pc">
						<img src="/img/top/sp/top_link_7.png" width="100%" alt="アプリケーション開発・運用保守">
						<p class="pc-contents-menu-maintenance">{{businessList.menu4}}</p>
					</a>
				</li>
				<li>
					<a href="/business/#consulting-desc-pc">
						<img src="/img/top/sp/top_link_8.png" width="100%" alt="コンサルティング事業">
						<p class="pc-contents-menu-consulting">{{businessList.menu5}}</p>
					</a>
				</li>
				<li>
					<a href="/business/#smartapp-desc-pc">
						<img src="/img/top/sp/top_link_9.png" width="100%" alt="スマートフォンアプリ開発・運用保守">
						<p class="pc-contents-menu-smartapp">{{businessList.menu6}}</p>
					</a>
				</li>
			</ul>
			<div class="pc-contents-footer">
				<ul class="pc-contents-footer-list">
					<li><a href="/policy/">{{footerList.menu1}}</a></li>
					<li><a href="/security/">{{footerList.menu2}}</a></li>
					<li><a href="/partner/">{{footerList.menu3}}</a></li>
				</ul>
				<h2>&copy;bit-agent 2018 All right reserved.</h2>
			</div>
		</div>
	</div>
</script>
<div id="output" class="js-output top"></div>
<script>
var template = Handlebars.compile($('#top').html());
</script>
</body>
</html>
