<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" id="js-viewport">
<title>ビットエージェント｜BITAGENT(ビット)</title>
<meta name="keywords" content="フリーランス,個人事業主,フリーエンジニア,デザイナー,求人・案件,ビットエージェント,BITAGENT,ビット">
<meta name="description" content="IT・Web業界のフリーランスエンジニア向け求人・案件募集情報サイトです。">
<link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="canonical" href="http://bit-agent.co.jp">
<meta property="og:title" content="ビットエージェント">
<meta property="og:description" content="アプリケーション開発,コンサルティング事業">
<meta property="og:site_name" content="ビットエージェント">
<meta property="og:type" content="article">
<meta property="og:locale" content="ja_JP">
<meta property="og:url" content="http://bit-agent.co.jp/">
<meta property="og:image" content="http://bit-agent.co.jp/img/ogimage.jpg">
<link rel="stylesheet" href="/css/all.min.css" media="screen">
<script src="/js/all.min.js?20180412"></script>
</head>
<body>
<script id="news_1" type="text/x-handlebars-template">
	<div class="modal js-modal_menu">
		<div class="modal-top js-modal-top">
			<a href="javascript:void(0)" class="modal-top-close js-modal_close"></a>
			<p class="modal-top-logo">{{title2}}</p>
			<p class="modal-top-img"></p>
		</div>
		<ul class="modal-menu js-modal-menu">
			<li><a href="/company/">{{menulist.menu1}}</a></li>
			<li><a href="/business/">{{menulist.menu2}}</a></li>
			<li><a href="/recruit/">{{menulist.menu3}}</a></li>
			<li class="js-is_korean"><a href="/support/">현지서포트</a></li>
			<li><a href="/contact/" class="modal-menu-info">{{menulist.menu4}}</a></li>
			<li>
				<div class="modal-menu-language">
					<a href="javascript:void(0)" class="modal-menu-language-jp js-lang_jp">JP</a>
					<a href="javascript:void(0)" class="modal-menu-language-kr js-lang_kr">KR</a>
				</div>
			</li>
		</ul>
	</div>
	<div class="header js-header">
		<h1><a href="/"><img src="/img/top/sp/{{header_logo}}" width="" height="" alt="{{title}}"></a></h1>
		<a href="javascript:void(0)" class="header-menu_bt js-menu_bt"></a>
	</div>
	<div class="contents js-contents">
		<div class="contents-main">
			<img src="/img/news/sp/top.png" width="100%" alt="BIT AGENT">
			<h3 class="contents-main-news">News・Notice</h3>
		</div>
		<div class="contents-news">
			<h3>Notice</h3>
			<ul class="contents-news-item">
				<li class="contents-news-item-date">2018.3.5</li>
				<li class="contents-news-item-title">{{notice.4.title}}</li>
				<li class="contents-news-item-desc">
					{{notice.4.msg.t1}}<br />
					{{notice.4.msg.t2}}<br /><br />
					{{notice.4.msg.t3}}<br /><br />
					{{notice.4.msg.t4}}<br />
					{{notice.4.msg.t5}}<br />
					{{notice.4.msg.t6}}<br />
					{{notice.4.msg.t7}}
				</li>
				<li class="contents-news-item-link">
					<a href="/news/" class="contents-news-item-link-button">{{list_msg}}</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="footer js-footer">
		<ul class="footer-list">
			<li><a href="/policy/">{{footerList.menu1}}</a></li>
			<li><a href="/security/">{{footerList.menu2}}</a></li>
			<li><a href="/partner/">{{footerList.menu3}}</a></li>
		</ul>
		<h2>&copy;bit-agent 2017 All right reserved.</h2>
	</div>
		<div class="pc-layout">
		<ul class="pc-menu">
			<li><a href="/" class="pc-menu-logo">{{title}}</a></li>
			<li><a href="/company/">{{menulist.menu1}}</a></li>
			<li><a href="/business/">{{menulist.menu2}}</a></li>
			<li><a href="/recruit/">{{menulist.menu3}}</a></li>
			<li class="js-is_korean"><a href="/support/">현지서포트</a></li>
			<li><a href="/contact/" class="pc-menu-info">{{menulist.menu4}}</a></li>
			<li>
				<div class="pc-menu-language">
					<a href="javascript:void(0)" class="pc-menu-language-jp js-lang_jp">JP</a>
					<a href="javascript:void(0)" class="pc-menu-language-kr js-lang_kr">KR</a>
				</div>
			</li>
		</ul>
		<div class="pc-contents">
			<div class="pc-contents-main">
				<p class="pc-contents-main-title pc-contents-main-title--news">News・Notice</p>
				<p class="pc-contents-main-img"><img src="/img/news/pc/top.png" width="1080" height="350" alt="BIT AGENT"></p>
			</div>
			<div class="pc-contents-news_item">
				<h3>Notice</h3>
				<ul class="pc-contents-news_item-list">
					<li class="pc-contents-news_item-list-date">2018.3.5</li>
					<li class="pc-contents-news_item-list-title">{{notice.4.title}}</li>
					<li class="pc-contents-news_item-list-desc">
						{{notice.4.msg.t1}}<br />
						{{notice.4.msg.t2}}<br /><br />
						{{notice.4.msg.t3}}<br /><br />
						{{notice.4.msg.t4}}<br />
						{{notice.4.msg.t5}}<br />
						{{notice.4.msg.t6}}<br />
						{{notice.4.msg.t7}}
					</li>
					<li class="pc-contents-news_item-list-link">
					<a href="/news/" class="pc-contents-news_item-list-link-button">{{list_msg}}</a>
					</li>
				</ul>
			</div>
			<div class="pc-contents-footer">
				<ul class="pc-contents-footer-list">
					<li><a href="/policy/">{{footerList.menu1}}</a></li>
					<li><a href="/security/">{{footerList.menu2}}</a></li>
					<li><a href="/partner/">{{footerList.menu3}}</a></li>
				</ul>
				<h2>&copy;bit-agent 2017 All right reserved.</h2>
			</div>
		</div>
	</div>
</script>
<div id="output"></div>
<script>
var template = Handlebars.compile($('#news_1').html());
</script>
</body>
</html>
</li>