<html lang="ja">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112590294-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-112590294-1');
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" id="js-viewport">
<title>ビットエージェント｜BITAGENT(ビット)</title>
<meta name="keywords" content="フリーランス,個人事業主,フリーエンジニア,デザイナー,求人・案件,ビットエージェント,BITAGENT,ビット">
<meta name="description" content="IT・Web業界のフリーランスエンジニア向け求人・案件募集情報サイトです。">
<link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="canonical" href="http://bit-agent.co.jp">
<meta property="og:title" content="ビットエージェント">
<meta property="og:description" content="アプリケーション開発,コンサルティング事業">
<meta property="og:site_name" content="ビットエージェント">
<meta property="og:type" content="article">
<meta property="og:locale" content="ja_JP">
<meta property="og:url" content="http://bit-agent.co.jp/">
<meta property="og:image" content="http://bit-agent.co.jp/img/ogimage.jpg">
<link rel="stylesheet" href="/css/all.min.css" media="screen">
<script src="/js/all.min.js?20180410"></script>
</head>
<body>
<script id="news" type="text/x-handlebars-template">
	<div class="modal js-modal_menu">
		<div class="modal-top js-modal-top">
			<a href="javascript:void(0)" class="modal-top-close js-modal_close"></a>
			<p class="modal-top-logo">{{title2}}</p>
			<p class="modal-top-img"></p>
		</div>
		<ul class="modal-menu js-modal-menu">
			<li><a href="/company/">{{menulist.menu1}}</a></li>
			<li><a href="/business/">{{menulist.menu2}}</a></li>
			<li><a href="/recruit/">{{menulist.menu3}}</a></li>
			<li class="js-is_korean"><a href="/support/">현지서포트</a></li>
			<li><a href="/contact/" class="modal-menu-info {{menuInfoIcon}}">{{menulist.menu4}}</a></li>
			<li>
				<div class="modal-menu-language">
					<a href="javascript:void(0)" class="modal-menu-language-jp js-lang_jp">JP</a>
					<a href="javascript:void(0)" class="modal-menu-language-kr js-lang_kr">KR</a>
				</div>
			</li>
		</ul>
	</div>
	<div class="header js-header">
		<h1><a href="/"><img src="/img/top/sp/{{header_logo}}" width="" height="" alt="{{title}}"></a></h1>
		<a href="javascript:void(0)" class="header-menu_bt js-menu_bt"></a>
	</div>
	<div class="contents js-contents">
		<div class="contents-main">
			<img src="/img/news/sp/top.png" width="100%" alt="BIT AGENT">
			<h3 class="contents-main-news">News・Notice</h3>
		</div>
		<ul class="contents-news_menu">
			<li><a href="#news" id="js-news">News</a></li>
			<li><a href="#notice" id="js-notice">Notice</a></li>
		</ul>
		<div class="contents-news">
			<h3 id="js-news-desc">News</h3>
			<ul class="contents-news-item">
				<li class="contents-news-item-date">2018.1.6</li>
				<li class="contents-news-item-title"><a href="/news/2/">{{news.2.title}}</a></li>
			</ul>
		</div>
		<div class="contents-notice">
			<h3 id="js-notice-desc">Notice</h3>
      <ul class="contents-notice-item">
				<li class="contents-notice-item-date">2018.4.4</li>
				<li class="contents-notice-item-title"><a href="/notice/5/"><span class="new-icon"></span>{{notice.5.title}}</a></li>
			</ul>
      <ul class="contents-notice-item">
				<li class="contents-notice-item-date">2018.3.5</li>
				<li class="contents-notice-item-title"><a href="/notice/4/">{{notice.4.title}}</a></li>
			</ul>
			<ul class="contents-notice-item">
				<li class="contents-notice-item-date">2018.2.2</li>
				<li class="contents-notice-item-title"><a href="/notice/3/">{{notice.3.title}}</a></li>
			</ul>
			<ul class="contents-notice-item">
				<li class="contents-notice-item-date">2018.1.10</li>
				<li class="contents-notice-item-title"></span><a href="/notice/2/">{{notice.2.title}}</a></li>
			</ul>
			<ul class="contents-notice-item">
				<li class="contents-notice-item-date">2017.12.1</li>
				<li class="contents-notice-item-title"><a href="/notice/1/">{{notice.1.title}}</a></li>
			</ul>
		</div>
	</div>
	<div class="footer js-footer">
		<ul class="footer-list">
			<li><a href="/policy/">{{footerList.menu1}}</a></li>
			<li><a href="/security/">{{footerList.menu2}}</a></li>
			<li><a href="/partner/">{{footerList.menu3}}</a></li>
		</ul>
		<h2>&copy;bit-agent 2017 All right reserved.</h2>
	</div>
	<div class="pc-layout">
		<ul class="pc-menu">
			<li><a href="/" class="pc-menu-logo">{{title}}</a></li>
			<li><a href="/company/">{{menulist.menu1}}</a></li>
			<li><a href="/business/">{{menulist.menu2}}</a></li>
			<li><a href="/recruit/">{{menulist.menu3}}</a></li>
			<li class="js-is_korean"><a href="/support/">현지서포트</a></li>
			<li><a href="/contact/" class="pc-menu-info">{{menulist.menu4}}</a></li>
			<li>
				<div class="pc-menu-language">
					<a href="javascript:void(0)" class="pc-menu-language-jp js-lang_jp">JP</a>
					<a href="javascript:void(0)" class="pc-menu-language-kr js-lang_kr">KR</a>
				</div>
			</li>
		</ul>
		<div class="pc-contents">
			<div class="pc-contents-main">
				<p class="pc-contents-main-title pc-contents-main-title--news">News・Notice</p>
				<p class="pc-contents-main-img"><img src="/img/news/pc/top.png" width="1080" height="350" alt="BIT AGENT"></p>
			</div>
			<ul class="pc-contents-news_menu">
				<li><a href="#news-pc" id="js-news-pc">News</a></li>
				<li><a href="#notice-pc" id="js-notice-pc">Notice</a></li>
			</ul>
			<div class="pc-contents-news_frame">
				<h3 id="js-news-desc-pc">News</h3>
				<ul class="pc-contents-news_frame-item">
					<li class="pc-contents-news_frame-item-date">2018.1.6</li>
					<li class="pc-contents-news_frame-item-title"><a href="/news/2/">{{news.2.title}}</a></li>
				</ul>
			</div>
			<div class="pc-contents-notice_frame">
				<h3 id="js-notice-desc-pc">Notice</h3>
        <ul class="pc-contents-notice_frame-item">
          <li class="pc-contents-notice_frame-item-date">2018.4.4</li>
          <li class="pc-contents-notice_frame-item-title"><span class="new-icon"></span><a href="/notice/5/">{{notice.5.title}}</a></li>
        </ul>
				<ul class="pc-contents-notice_frame-item">
					<li class="pc-contents-notice_frame-item-date">2018.3.5</li>
					<li class="pc-contents-notice_frame-item-title"><a href="/notice/4/">{{notice.4.title}}</a></li>
				</ul>
				<ul class="pc-contents-notice_frame-item">
					<li class="pc-contents-notice_frame-item-date">2018.2.2</li>
					<li class="pc-contents-notice_frame-item-title"><a href="/notice/3/">{{notice.3.title}}</a></li>
				</ul>
				<ul class="pc-contents-notice_frame-item">
					<li class="pc-contents-notice_frame-item-date">2018.1.10</li>
					<li class="pc-contents-notice_frame-item-title"><a href="/notice/2/">{{notice.2.title}}</a></li>
				</ul>
				<ul class="pc-contents-notice_frame-item">
					<li class="pc-contents-notice_frame-item-date">2017.12.1</li>
					<li class="pc-contents-notice_frame-item-title"><a href="/notice/1/">{{notice.1.title}}</a></li>
				</ul>
			</div>
			<div class="pc-contents-footer">
				<ul class="pc-contents-footer-list">
					<li><a href="/policy/">{{footerList.menu1}}</a></li>
					<li><a href="/security/">{{footerList.menu2}}</a></li>
					<li><a href="/partner/">{{footerList.menu3}}</a></li>
				</ul>
				<h2>&copy;bit-agent 2017 All right reserved.</h2>
			</div>
		</div>
	</div>
</script>
<div id="output"></div>
<script>
var template = Handlebars.compile($('#news').html());
</script>
</body>
</html>
</li>
