<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1">
<title>ビットエージェント｜BITAGENT(ビット)</title>
<meta name="keywords" content="住まい探しはリクルートの不動産・住宅サイトSUUMO(スーモ),CM,新築マンション,中古マンション,新築一戸建て,中古一戸建て,注文住宅,リフォーム">
<meta name="description" content="スーモの部屋では、スーモのこと、TVCMギャラリー、漫画などお楽しみコンテンツ満載。着せ替えツールや壁紙、スクリーンセーバーなどもダウンロードできます。">
<link rel="shortcut icon" href="http://suumo.jp/front/img/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="icon" href="http://suumo.jp/front/img/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="canonical" href="http://suumo.jp/edit/suumo-heya/">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@suumo">
<meta property="og:title" content="スーモの部屋">
<meta property="og:description" content="最新ＣＭや、マンガや絵カードなどを掲載。スーモのすべてがこのサイトに詰まっています！">
<meta property="og:site_name" content="スーモの部屋｜SUUMO(スーモ)">
<meta property="og:type" content="website">
<meta property="og:locale" content="ja_JP">
<meta property="fb:app_id" content="428561440622863">
<meta property="og:url" content="http://suumo.jp/edit/suumo-heya/">
<meta property="og:image" content="http://suumo.jp/edit/suumo-heya/img/ogimage_suumoheya.png">
<meta property="og:image" content="http://suumo.jp/edit/suumo-heya/img/ogimage_suumoheya.png">
<link rel="stylesheet" href="/css/all.css" media="screen">
</head>
<body>
<script id="kr" type="text/x-handlebars-template">
	<div class="modal js-modal_menu">
		<ul class="modal-menu">
			<li>
				<a href="javascript:void(0)" class="modal-menu-close js-modal_close"></a>
				<p class="modal-menu-logo">ビットエージェント</p>
			</li>
			<li><a href="">会社情報</a></li>
			<li><a href="">ビジネス</a></li>
			<li><a href="">リクルート</a></li>
			<li><a href="" class="modal-menu-info">お問い合わせ</a></li>
			<li>
				<div class="modal-menu-language">
					<a href="javascript:void(0)" class="modal-menu-language-jp is-active">JP</a>
					<a href="javascript:void(0)" class="modal-menu-language-kr">KR</a>
				</div>
			</li>
		</ul>
	</div>
	<div class="header">
		<h1>ビットエージェント</h1>
		<a href="javascript:void(0)" class="header-menu_bt js-menu_bt"></a>
	</div>
	<div class="contents">
		<div class="contents-main">
			<img src="/img/contact/sp/top.png" width="100%" alt="BIT AGENT">
			<h3 class="contents-main-contact">お問い合わせ</h3>
		</div>
		<dl class="contents-contact">
			<dt>以下の形式に合わせて書いてください。</dt>
			<dd><input type="text" placeholder="名前を入力してください"/></dd>
			<dd><input type="text" placeholder="メールアドレスを入力してください"/></dd>
			<dd><input type="text" placeholder="タイトルを入力してください"/></dd>
			<dd><textarea placeholder="メッセージを入力してください"></textarea></dd>
			<dd><input type="submit" value="内容を確認してお問い合わせを送る"/></dd>
		</dl>
	</div>
	<div class="footer">
		<ul class="footer-list">
			<li><a href="">個人情報</a></li>
			<li><a href="">情報セキュリティ</a></li>
			<li><a href="">パートナー企業募集</a></li>
		</ul>
		<h2>&copy;bit-agent 2017 All right reserved.</h2>
	</div>
	<div class="pc-layout">
		<ul class="pc-menu">
			<li>
				<a href="/" class="pc-menu-logo">{{title}}</a>
			</li>
			<li><a href="/company/">会社情報</a></li>
			<li><a href="">ビジネス</a></li>
			<li><a href="">リクルート</a></li>
			<li><p class="pc-menu-info is-active">お問い合わせ</p></li>
			<li>
				<div class="pc-menu-language">
					<a href="javascript:void(0)" class="pc-menu-language-jp js-lang_jp">JP</a>
					<a href="javascript:void(0)" class="pc-menu-language-kr js-lang_kr">KR</a>
				</div>
			</li>
		</ul>
		<div class="pc-contents">
			<div class="pc-contents-main">
				<p class="pc-contents-main-title pc-contents-main-title--contact">お問い合わせ</p>
				<p class="pc-contents-main-img"><img src="/img/contact/pc/top.png" width="1080" height="350" alt="会社情報"></p>
			</div>
			<dl class="pc-contents-contact">
				<dt>以下の形式に合わせて書いてください。</dt>
				<dd><input type="text" placeholder="名前を入力してください"/></dd>
				<dd><input type="text" placeholder="メールアドレスを入力してください"/></dd>
				<dd><input type="text" placeholder="タイトルを入力してください"/></dd>
				<dd><textarea placeholder="メッセージを入力してください"></textarea></dd>
				<dd><input type="submit" value="内容を確認してお問い合わせを送る"/></dd>
			</dl>
			<div class="pc-contents-footer">
				<ul class="pc-contents-footer-list">
					<li><a href="">個人情報保護方針</a></li>
					<li><a href="">情報セキュリティ基本方針</a></li>
					<li><a href="">ビジネスパートナー企業募集</a></li>
				</ul>
				<h2>&copy;bit-agent 2017 All right reserved.</h2>
			</div>
		</div>
	</div>

</script>
<div id="output"></div>
<script src="/js/all.js"></script>
<script>

var template = Handlebars.compile($('#kr').html());
// if (getCookie(bit.construct.LANG) == bit.construct.JP) {
// 	$('#output').html(template(bit.lang_jp));
// } else if (getCookie(bit.construct.LANG) == bit.construct.KR) {
// 	$('#output').html(template(bit.lang_kr));
// } else {
// 	if( browserLanguage() == 'ja' ) {
// 		$('#output').html(template(bit.lang_jp));
// 	} else {
// 		$('#output').html(template(bit.lang_kr));
// 	}
// }


</script>
</body>
</html>
