<html lang="ja">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112590294-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-112590294-1');
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" id="js-viewport">
<title>ビットエージェント｜BITAGENT(ビット)</title>
<meta name="keywords" content="フリーランス,個人事業主,フリーエンジニア,デザイナー,求人・案件,ビットエージェント,BITAGENT,ビット">
<meta name="description" content="IT・Web業界のフリーランスエンジニア向け求人・案件募集情報サイトです。">
<link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="canonical" href="http://bit-agent.co.jp">
<meta property="og:title" content="ビットエージェント">
<meta property="og:description" content="アプリケーション開発,コンサルティング事業">
<meta property="og:site_name" content="ビットエージェント">
<meta property="og:type" content="article">
<meta property="og:locale" content="ja_JP">
<meta property="og:url" content="http://bit-agent.co.jp/">
<meta property="og:image" content="http://bit-agent.co.jp/img/ogimage.jpg">
<link rel="stylesheet" href="/css/all.min.css" media="screen">
<script src="/js/all.min.js?20180412"></script>
</head>
<body>
<script id="recruit" type="text/x-handlebars-template">
	<div class="modal js-modal_menu">
		<div class="modal-top js-modal-top">
			<a href="javascript:void(0)" class="modal-top-close js-modal_close"></a>
			<p class="modal-top-logo">{{title2}}</p>
			<p class="modal-top-img"></p>
		</div>
		<ul class="modal-menu js-modal-menu">
			<li><a href="/company/">{{menulist.menu1}}</a></li>
			<li><a href="/business/">{{menulist.menu2}}</a></li>
			<li><a href="/recruit/">{{menulist.menu3}}</a></li>
			<li class="js-is_korean"><a href="/support/">현지서포트</a></li>
			<li><a href="/contact/" class="modal-menu-info {{menuInfoIcon}}">{{menulist.menu4}}</a></li>
			<li>
				<div class="modal-menu-language">
					<a href="javascript:void(0)" class="modal-menu-language-jp js-lang_jp">JP</a>
					<a href="javascript:void(0)" class="modal-menu-language-kr js-lang_kr">KR</a>
				</div>
			</li>
		</ul>
	</div>
	<a href="#" class="page_top js-page_top"><img src="/img/common/sp/page_top.png" width="50" height="50" /></a>
	<div class="header js-header">
		<h1><a href="/"><img src="/img/top/sp/{{header_logo}}" width="" height="" alt="{{title}}"></a></h1>
		<a href="javascript:void(0)" class="header-menu_bt js-menu_bt"></a>
	</div>
	<div class="contents js-contents">
		<div class="contents-main">
			<img src="/img/recruit/sp/top.png" width="100%" alt="BIT AGENT">
			<h3>{{recruit.title}}</h3>
		</div>
		<div class="contents-recruit">
			<h3>Recruit</h3>
			<ul class="contents-recruit-list">
				<li>
					<dl class="contents-recruit-list-wanted">
						<dt>{{recruit.t1}}</dt>
						<dd>{{recruit.t2}}</dd>
						<dd>{{recruit.t3}}</dd>
						<dd>{{recruit.t4}}</dd>
						<dd>{{recruit.t5}}</dd>
						<dd>{{recruit.t6}}</dd>
						<dd>{{recruit.t7}}</dd>
						<dd>{{recruit.t8}}</dd>
					</dl>
				</li>
				<li>
					<dl class="contents-recruit-list-employment">
						<dt>{{recruit.t9}}</dt>
						<dd>{{recruit.t10}}</dd>
						<dd>{{recruit.t11}}</dd>
						<dd>{{recruit.t12}}</dd>
					</dl>
				</li>
				<li>
					<p class="contents-recruit-list-skill">{{recruit.t13}}</p>
				</li>
				<li>
					<dl class="contents-recruit-list-app">
						<dt>{{recruit.t14}}</dt>
						<dd>IOS、Android、Unity、JAVA、PHP、javascript、HTML、Python、Ruby、NET(ASP、C#)C、C++、VC++</dd>
						<dd>{{recruit.t15}}</dd>
					</dl>
					<dl class="contents-recruit-list-server">
						<dt>{{recruit.t16}}</dt>
						<dd>UNIX (AIX、SOLARIS、HP-UX）、LINUX（CENTOS）、WINDOWS</dd>
						<dd>{{recruit.t17}}</dd>
						<dd>ORACLE、DB2、MSSQL</dd>
						<dd>{{recruit.t18}}</dd>
					</dl>
					<dl class="contents-recruit-list-network">
						<dt>{{recruit.t19}}</dt>
						<dd>{{recruit.t20}}</dd>
					</dl>
					<dl class="contents-recruit-list-deliverable">
						<dt>{{recruit.t21}}</dt>
						<dd>{{recruit.t22}}</dd>
					</dl>
					<dl class="contents-recruit-list-flow">
						<dt>{{recruit.t23}}</dt>
						<dd>{{recruit.t24}}</dd>
						<dd>{{recruit.t25}}</dd>
						<dd>{{recruit.t26}}</dd>
					</dl>
					<dl class="contents-recruit-list-other">
						<dt>{{recruit.t27}}</dt>
						<dd>{{recruit.t28}}</dd>
						<dd>{{recruit.t29}}</dd>
						<dd>{{recruit.t30}}</dd>
						<dd>{{recruit.t31}}</dd>
					</dl>
					<dl class="contents-recruit-list-method">
						<dt>{{recruit.t32}}</dt>
						<dd>{{recruit.t33}}</dd>
						<dd>{{recruit.t34}}
						<dd>{{recruit.t35}}</dd>
						<dd>{{recruit.t36}}</dd>
					</dl>
				</li>
			</ul>
		</div>
	</div>
	<div class="footer js-footer">
		<ul class="footer-list">
			<li><a href="/policy/">{{footerList.menu1}}</a></li>
			<li><a href="/security/">{{footerList.menu2}}</a></li>
			<li><a href="/partner/">{{footerList.menu3}}</a></li>
		</ul>
		<h2>&copy;bit-agent 2017 All right reserved.</h2>
	</div>
	<div class="pc-layout">
		<ul class="pc-menu">
			<li><a href="/" class="pc-menu-logo">{{title}}</a></li>
			<li><a href="/company/">{{menulist.menu1}}</a></li>
			<li><a href="/business/">{{menulist.menu2}}</a></li>
			<li><p class="is-active">{{menulist.menu3}}</p></li>
			<li class="js-is_korean"><a href="/support/">현지서포트</a></li>
			<li><a href="/contact/" class="pc-menu-info">{{menulist.menu4}}</a></li>
			<li>
				<div class="pc-menu-language">
					<a href="javascript:void(0)" class="pc-menu-language-jp js-lang_jp">JP</a>
					<a href="javascript:void(0)" class="pc-menu-language-kr js-lang_kr">KR</a>
				</div>
			</li>
		</ul>
		<div class="pc-contents">
			<a href="#" class="pc-page_top js-pc-page_top"><img src="/img/common/pc/page_top.png" width="50" height="50" /></a>
			<div class="pc-contents-main">
				<p class="pc-contents-main-title pc-contents-main-title--recruit">{{recruit.title}}</p>
				<p class="pc-contents-main-img"><img src="/img/recruit/pc/top.png" width="1080" height="350" alt="会社情報"></p>
			</div>
			<div class="pc-contents-recruit">
				<h3>Recruit</h3>
				<table>
					<tr>
						<td class="pc-contents-recruit-title">{{recruit.t1}}</td>
						<td class="pc-contents-recruit-desc">
							<ul class="pc-contents-recruit-desc-list">
								<li>{{recruit.t2}}</li>
								<li>{{recruit.t3}}</li>
								<li>{{recruit.t4}}</li>
								<li>{{recruit.t5}}</li>
								<li>{{recruit.t6}}</li>
								<li>{{recruit.t7}}</li>
								<li>{{recruit.t8}}</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td class="pc-contents-recruit-title">{{recruit.t9}}</td>
						<td class="pc-contents-recruit-desc">
							<ul class="pc-contents-recruit-desc-list">
								<li>{{recruit.t10}}</li>
								<li>{{recruit.t11}}</li>
								<li>{{recruit.t12}}</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td class="pc-contents-recruit-title">{{recruit.t13}}</td>
						<td class="pc-contents-recruit-desc">
							<dl class="pc-contents-recruit-desc-app">
								<dt>{{recruit.t14}}</dt>
								<dd>IOS、Android、Unity、JAVA、PHP、javascript、HTML、Python、Ruby、NET(ASP、C#)C、C++、VC++</dd>
								<dd>{{recruit.t15}}</dd>
							</dl>
							<dl class="pc-contents-recruit-desc-server">
								<dt>{{recruit.t16}}</dt>
								<dd>UNIX (AIX、SOLARIS、HP-UX）、LINUX（CENTOS）、WINDOWS</dd>
								<dd>{{recruit.t17}}</dd>
								<dd>ORACLE、DB2、MSSQL</dd>
								<dd>{{recruit.t18}}</dd>
							</dl>
							<dl class="pc-contents-recruit-desc-network">
								<dt>{{recruit.t19}}</dt>
								<dd>{{recruit.t20}}</dd>
							</dl>
						</td>
					</tr>
					<tr>
						<td class="pc-contents-recruit-title">{{recruit.t21}}</td>
						<td class="pc-contents-recruit-desc">
							<ul class="pc-contents-recruit-desc-list">
								<li>{{recruit.t22}}</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td class="pc-contents-recruit-title">{{recruit.t23}}</td>
						<td class="pc-contents-recruit-desc">
							<ul class="pc-contents-recruit-desc-list">
								<li>{{recruit.t24}}</li>
								<li>{{recruit.t25}}</li>
								<li>{{recruit.t26}}</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td class="pc-contents-recruit-title">{{recruit.t27}}</td>
						<td class="pc-contents-recruit-desc">
							<ul class="pc-contents-recruit-desc-list">
								<li>{{recruit.t28}}</li>
								<li>{{recruit.t29}}</li>
								<li>{{recruit.t30}}</li>
								<li>{{recruit.t31}}</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td class="pc-contents-recruit-title">{{recruit.t32}}</td>
						<td class="pc-contents-recruit-desc">
							<ul class="pc-contents-recruit-desc-list">
								<li>{{recruit.t33}}</li>
								<li>{{recruit.t34}}</li>
								<li>{{recruit.t35}}</li>
								<li>{{recruit.t36}}</li>
							</ul>
						</td>
					</tr>
				</table>
			</div>
			<div class="pc-contents-footer">
				<ul class="pc-contents-footer-list">
					<li><a href="/policy/">{{footerList.menu1}}</a></li>
					<li><a href="/security/">{{footerList.menu2}}</a></li>
					<li><a href="/partner/">{{footerList.menu3}}</a></li>
				</ul>
				<h2>&copy;bit-agent 2017 All right reserved.</h2>
			</div>
		</div>
	</div>
</script>
<div id="output"></div>
<script>
var template = Handlebars.compile($('#recruit').html());
</script>
</body>
</html>