<html lang="ja">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112590294-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-112590294-1');
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" id="js-viewport">
<title>ビットエージェント｜BITAGENT(ビット)</title>
<meta name="keywords" content="フリーランス,個人事業主,フリーエンジニア,デザイナー,求人・案件,ビットエージェント,BITAGENT,ビット">
<meta name="description" content="IT・Web業界のフリーランスエンジニア向け求人・案件募集情報サイトです。">
<link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="canonical" href="http://bit-agent.co.jp">
<meta property="og:title" content="ビットエージェント">
<meta property="og:description" content="アプリケーション開発,コンサルティング事業">
<meta property="og:site_name" content="ビットエージェント">
<meta property="og:type" content="article">
<meta property="og:locale" content="ja_JP">
<meta property="og:url" content="http://bit-agent.co.jp/">
<meta property="og:image" content="http://bit-agent.co.jp/img/ogimage.jpg">
<link rel="stylesheet" href="/css/all.min.css" media="screen">
<script src="/js/all.min.js?20180412"></script>
</head>
<body>
<script id="policy" type="text/x-handlebars-template">
	<div class="modal js-modal_menu">
		<div class="modal-top js-modal-top">
			<a href="javascript:void(0)" class="modal-top-close js-modal_close"></a>
			<p class="modal-top-logo">{{title2}}</p>
			<p class="modal-top-img"></p>
		</div>
		<ul class="modal-menu js-modal-menu">
			<li><a href="/company/">{{menulist.menu1}}</a></li>
			<li><a href="/business/">{{menulist.menu2}}</a></li>
			<li><a href="/recruit/">{{menulist.menu3}}</a></li>
			<li class="js-is_korean"><a href="/support/">현지서포트</a></li>
			<li><a href="/contact/" class="modal-menu-info {{menuInfoIcon}}">{{menulist.menu4}}</a></li>
			<li>
				<div class="modal-menu-language">
					<a href="javascript:void(0)" class="modal-menu-language-jp js-lang_jp">JP</a>
					<a href="javascript:void(0)" class="modal-menu-language-kr js-lang_kr">KR</a>
				</div>
			</li>
		</ul>
	</div>
	<a href="#" class="page_top js-page_top"><img src="/img/common/sp/page_top.png" width="50" height="50" /></a>
	<div class="header js-header">
		<h1><a href="/"><img src="/img/top/sp/{{header_logo}}" width="" height="" alt="{{title}}"></a></h1>
		<a href="javascript:void(0)" class="header-menu_bt js-menu_bt"></a>
	</div>
	<div class="contents js-contents">
		<div class="contents-main">
			<img src="/img/other/sp/top.png" width="100%" alt="{{policy.title}}">
			<h3 class="contents-main-policy">{{policy.title}}</h3>
		</div>
		<div class="contents-policy">
			<h3>{{policy.title}}</h3>
			<div class="contents-policy-text">
			{{policy.t2}}<br /><br />
			<span>{{policy.t3}}</span><br />
			{{policy.t4}}<br />
			{{policy.t5}}<br /><br />
			{{policy.t6}}<br />
			{{policy.t7}}<br /><br />
			{{policy.t8}}<br />
			{{policy.t9}}<br /><br />
			{{policy.t10}}<br />
			{{policy.t11}}<br />
			{{policy.t12}}<br />
			{{policy.t13}}<br /><br />
			{{policy.t14}}<br />
			{{policy.t15}}<br /><br />
			{{policy.t16}}<br />
			{{policy.t17}}<br /><br />
			{{policy.t18}}<br />
			{{policy.t19}}<br /><br />
			{{policy.t20}}<br />
			{{policy.t21}}<br /><br />
			{{policy.t22}}<br />
			{{policy.t23}}<br /><br />
			{{policy.t24}}<br />
			{{policy.t25}}<br /><br />
			{{policy.t26}}<br />
			{{policy.t27}}<br /><br />
			<span>{{policy.t28}}</span><br />
			{{policy.t29}}<br /><br />
			<span>{{policy.t30}}</span><br />
			{{policy.t31}}<br /><br />
			<span>{{policy.t32}}</span><br />
			{{policy.t33}}<br /><br />
			<span>{{policy.t34}}</span><br />
			{{policy.t35}}<br /><br />
			<ul class="contents-policy-text-list">
				<li>{{policy.t36}}</li>
				<li>{{policy.t37}}</li>
				<li>{{policy.t38}}</li>
				<li>{{policy.t39}}</li>
			</ul><br />
			<span>{{policy.t40}}</span><br />
			{{policy.t41}}<br />
			</div>
		</div>
	</div>
	<div class="footer js-footer">
		<ul class="footer-list">
			<li><a href="/policy/">{{footerList.menu1}}</a></li>
			<li><a href="/security/">{{footerList.menu2}}</a></li>
			<li><a href="/partner/">{{footerList.menu3}}</a></li>
		</ul>
		<h2>&copy;bit-agent 2018 All right reserved.</h2>
	</div>
	<div class="pc-layout">
		<a href="#" class="pc-page_top js-pc-page_top"><img src="/img/common/pc/page_top.png" width="50" height="50" /></a>
		<ul class="pc-menu">
			<li><a href="/" class="pc-menu-logo">{{title}}</a></li>
			<li><a href="/company/">{{menulist.menu1}}</a></li>
			<li><a href="/business/">{{menulist.menu2}}</a></li>
			<li><a href="/recruit/">{{menulist.menu3}}</a></li>
			<li class="js-is_korean"><a href="/support/">현지서포트</a></li>
			<li><a href="/contact/" class="pc-menu-info">{{menulist.menu4}}</a></li>
			<li>
				<div class="pc-menu-language">
					<a href="javascript:void(0)" class="pc-menu-language-jp js-lang_jp">JP</a>
					<a href="javascript:void(0)" class="pc-menu-language-kr js-lang_kr">KR</a>
				</div>
			</li>
		</ul>
		<div class="pc-contents">
			<div class="pc-contents-main">
				<p class="pc-contents-main-title pc-contents-main-title--policy">{{policy.title}}</p>
				<p class="pc-contents-main-img"><img src="/img/other/pc/top.png" width="1080" height="350" alt="{{policy.title}}"></p>
			</div>
			<div class="pc-contents-policy">
				<h3>{{policy.title}}</h3>
				<div class="pc-contents-policy-text">
				{{policy.t2}}<br /><br />
				<span>{{policy.t3}}</span><br />
				{{policy.t4}}<br />
				{{policy.t5}}<br /><br />
				{{policy.t6}}<br />
				{{policy.t7}}<br /><br />
				{{policy.t8}}<br />
				{{policy.t9}}<br /><br />
				{{policy.t10}}<br />
				{{policy.t11}}<br />
				{{policy.t12}}<br />
				{{policy.t13}}<br /><br />
				{{policy.t14}}<br />
				{{policy.t15}}<br /><br />
				{{policy.t16}}<br />
				{{policy.t17}}<br /><br />
				{{policy.t18}}<br />
				{{policy.t19}}<br /><br />
				{{policy.t20}}<br />
				{{policy.t21}}<br /><br />
				{{policy.t22}}<br />
				{{policy.t23}}<br /><br />
				{{policy.t24}}<br />
				{{policy.t25}}<br /><br />
				{{policy.t26}}<br />
				{{policy.t27}}<br /><br />
				<span>{{policy.t28}}</span><br />
				{{policy.t29}}<br /><br />
				<span>{{policy.t30}}</span><br />
				{{policy.t31}}<br /><br />
				<span>{{policy.t32}}</span><br />
				{{policy.t33}}<br /><br />
				<span>{{policy.t34}}</span><br />
				{{policy.t35}}<br /><br />
				<ul class="pc-contents-policy-text-list">
					<li>{{policy.t36}}</li>
					<li>{{policy.t37}}</li>
					<li>{{policy.t38}}</li>
					<li>{{policy.t39}}</li>
				</ul><br />
				<span>{{policy.t40}}</span><br />
				{{policy.t41}}<br />
				</div>
			</div>
			<div class="pc-contents-footer">
				<ul class="pc-contents-footer-list">
					<li><a href="/policy/">{{footerList.menu1}}</a></li>
					<li><a href="/security/">{{footerList.menu2}}</a></li>
					<li><a href="/partner/">{{footerList.menu3}}</a></li>
				</ul>
				<h2>&copy;bit-agent 2018 All right reserved.</h2>
			</div>
		</div>
	</div>
</script>
<div id="output"></div>
<script>
var template = Handlebars.compile($('#policy').html());
</script>
</body>
</html>
</li>