<html lang="ja">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112590294-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-112590294-1');
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" id="js-viewport">
<title>ビットエーゼント｜BITAGENT(ビット)</title>
<meta name="keywords" content="フリーランス,個人事業主,フリーエンジニア,デザイナー,求人・案件,ビットエーゼント,BITAGENT,ビット">
<meta name="description" content="IT・Web業界のフリーランスエンジニア向け求人・案件募集情報サイトです。">
<link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="canonical" href="http://bit-agent.co.jp">
<meta property="og:title" content="ビットエーゼント">
<meta property="og:description" content="アプリケーション開発,コンサルティング事業">
<meta property="og:site_name" content="ビットエーゼント">
<meta property="og:type" content="article">
<meta property="og:locale" content="ja_JP">
<meta property="og:url" content="http://bit-agent.co.jp/">
<meta property="og:image" content="http://bit-agent.co.jp/img/ogimage.jpg">
<link rel="stylesheet" href="/css/all.min.css" media="screen">
<script src="/js/all.min.js?20180404"></script>
</head>
<body>
<script id="company" type="text/x-handlebars-template">
	<div class="modal js-modal_menu">
		<div class="modal-top js-modal-top">
			<a href="javascript:void(0)" class="modal-top-close js-modal_close"></a>
			<p class="modal-top-logo">{{title2}}</p>
			<p class="modal-top-img"></p>
		</div>
		<ul class="modal-menu js-modal-menu">
			<li><a href="/company/">{{menulist.menu1}}</a></li>
			<li><a href="/business/">{{menulist.menu2}}</a></li>
			<li><a href="/recruit/">{{menulist.menu3}}</a></li>
			<li class="js-is_korean"><a href="/support/">현지서포트</a></li>
			<li><a href="/contact/" class="modal-menu-info {{menuInfoIcon}}">{{menulist.menu4}}</a></li>
			<li>
				<div class="modal-menu-language">
					<a href="javascript:void(0)" class="modal-menu-language-jp js-lang_jp">JP</a>
					<a href="javascript:void(0)" class="modal-menu-language-kr js-lang_kr">KR</a>
				</div>
			</li>
		</ul>
	</div>
	<a href="#" class="page_top js-page_top"><img src="/img/common/sp/page_top.png" width="50" height="50" /></a>
	<div class="header js-header">
		<h1><a href="/"><img src="/img/top/sp/{{header_logo}}" width="" height="" alt="{{title}}"></a></h1>
		<a href="javascript:void(0)" class="header-menu_bt js-menu_bt"></a>
	</div>
	<div class="contents js-contents">
		<div class="contents-main">
			<img src="/img/company/sp/top.png" width="100%" alt="{{company.title}}">
			<h3>{{company.title}}</h3>
		</div>
		<ul class="contents-submenu">
			<li><a href="#company_outline" id="js-company_outline">{{company.text1}}</a></li>
			<li><a href="#company_history" id="js-company_history">{{company.text2}}</a></li>
		</ul>
		<ul class="contents-submenu_2">
			<li><a href="#company_philosophy" id="js-company_philosophy">{{company.text3}}</a></li>
			<li><a href="#company_access" id="js-company_access">{{company.text4}}</a></li>
		</ul>
		</ul>
		<div id="js-company_outline-desc" class="contents-company_outline">
			<h3>{{company.text1}}</h3>
			<div class="contents-company_outline-box">
				<div class="contents-company_outline-box-title">{{company.ta1}}</div>
				<div class="contents-company_outline-box-desc">{{company.tb1}}</div>
			</div>
			<div class="contents-company_outline-box">
				<div class="contents-company_outline-box-title">{{company.ta2}}</div>
				<div class="contents-company_outline-box-desc">{{company.tb2}}</div>
			</div>
			<div class="contents-company_outline-box">
				<div class="contents-company_outline-box-title">{{company.ta3}}</div>
				<div class="contents-company_outline-box-desc">
					{{company.tb3}}<br />
					{{company.tb3_2}}<br />
					{{company.tb3_3}}<br />
					{{company.tb3_4}}<br />
					{{company.tb3_5}}
				</div>
			</div>
			<div class="contents-company_outline-box">
				<div class="contents-company_outline-box-title">{{company.ta4}}</div>
				<div class="contents-company_outline-box-desc">{{company.tb4}}</div>
			</div>
			<div class="contents-company_outline-box">
				<div class="contents-company_outline-box-title">{{company.ta5}}</div>
				<div class="contents-company_outline-box-desc">{{company.tb5}}</div>
			</div>
			<div class="contents-company_outline-box">
				<div class="contents-company_outline-box-title">{{company.ta6}}</div>
				<div class="contents-company_outline-box-desc">{{company.tb6}}</div>
			</div>
			<div class="contents-company_outline-box">
				<div class="contents-company_outline-box-title">{{company.ta7}}</div>
				<div class="contents-company_outline-box-desc">{{company.tb7}}</div>
			</div>
			<div class="contents-company_outline-box">
				<div class="contents-company_outline-box-title">{{company.ta8}}</div>
				<div class="contents-company_outline-box-desc">{{company.tb8}}</div>
			</div>
		</div>
		<div id="js-company_history-desc" class="contents-company_history">
			<h3>{{company.text2}}</h3>
			<div class="contents-company_history-box">
				<div class="contents-company_history-box-title">{{company.ta9}}</div>
				<div class="contents-company_history-box-desc">{{company.tb9}}</div>
			</div>
			<div class="contents-company_history-box">
				<div class="contents-company_history-box-title">{{company.ta10}}</div>
				<div class="contents-company_history-box-desc">{{company.tb10}}</div>
			</div>
			<div class="contents-company_history-box">
				<div class="contents-company_history-box-title">{{company.ta11}}</div>
				<div class="contents-company_history-box-desc">{{company.tb11}}</div>
			</div>
		</div>
		<div id="js-company_philosophy-desc" class="contents-company_philosophy">
			<h3>{{company.text3}}</h3>
			<div class="contents-company_philosophy-box">
				{{company.ta13}}
			</div>
		</div>
		<div class="contents-company_bottom">
			<img src="/img/company/sp/bottom.png" width="100%" alt="BIT AGENT">
		</div>
		<div id="js-company_access-desc" class="contents-company_access">
			<dl>
				<dt>{{company.text4}}</dt>
				<dd>〒150-0001</dd>
				<dd>{{company.ta14}}</dd>
				<dd>{{company.ta15}}</dd>
			</dl>
			<div class="contents-company_access-map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3241.245922561937!2d139.7019877!3d35.6709462!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188cbb2654fde9%3A0xed55f597524bcbef!2z44CSMTUwLTAwMDEg5p2x5Lqs6YO95riL6LC35Yy656We5a6u5YmN77yR5LiB55uu77yR77yV4oiS77yR77yU!5e0!3m2!1sja!2sjp!4v1514618103715" width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
	<div class="footer js-footer">
		<ul class="footer-list">
			<li><a href="/policy/">{{footerList.menu1}}</a></li>
			<li><a href="/security/">{{footerList.menu2}}</a></li>
			<li><a href="/partner/">{{footerList.menu3}}</a></li>
		</ul>
		<h2>&copy;bit-agent 2017 All right reserved.</h2>
	</div>
	<div class="pc-layout">
		<ul class="pc-menu">
			<li><a href="/" class="pc-menu-logo">{{title}}</a></li>
			<li><p class="is-active">{{menulist.menu1}}</p></li>
			<li><a href="/business/">{{menulist.menu2}}</a></li>
			<li><a href="/recruit/">{{menulist.menu3}}</a></li>
			<li class="js-is_korean"><a href="/support/">현지서포트</a></li>
			<li><a href="/contact/" class="pc-menu-info">{{menulist.menu4}}</a></li>
			<li>
				<div class="pc-menu-language">
					<a href="javascript:void(0)" class="pc-menu-language-jp js-lang_jp">JP</a>
					<a href="javascript:void(0)" class="pc-menu-language-kr js-lang_kr">KR</a>
				</div>
			</li>
		</ul>
		<div class="pc-contents">
			<a href="#" class="pc-page_top js-pc-page_top"><img src="/img/common/pc/page_top.png" width="50" height="50" /></a>
			<div class="pc-contents-main">
				<p class="pc-contents-main-title pc-contents-main-title--company">{{company.title}}</p>
				<p class="pc-contents-main-img"><img src="/img/company/pc/top.png" width="1080" height="350" alt="{{company.title}}"></p>
			</div>
			<ul class="pc-contents-submenu">
				<li><a href="#company_outline-pc" id="js-company_outline-pc">{{company.text1}}</a></li>
				<li><a href="#company_history-pc" id="js-company_history-pc">{{company.text2}}</a></li>
				<li><a href="#company_philosophy-pc" id="js-company_philosophy-pc">{{company.text3}}</a></li>
				<li><a href="#company_access-pc" id="js-company_access-pc">{{company.text4}}</a></li>
			</ul>
			<div id="js-company_outline-desc-pc" class="pc-contents-company_outline">
				<h3>{{company.title}}</h3>
				<div class="pc-contents-company_outline-box">
					<div class="pc-contents-company_outline-box-title">{{company.ta1}}</div>
					<div class="pc-contents-company_outline-box-desc">{{company.tb1}}</div>
				</div>
				<div class="pc-contents-company_outline-box">
					<div class="pc-contents-company_outline-box-title">{{company.ta2}}</div>
					<div class="pc-contents-company_outline-box-desc">{{company.tb2}}</div>
				</div>
				<div class="pc-contents-company_outline-box">
					<div class="pc-contents-company_outline-box-title">{{company.ta3}}</div>
					<div class="pc-contents-company_outline-box-desc">
						{{company.tb3}}<br />
						{{company.tb3_2}}<br />
						{{company.tb3_3}}<br />
						{{company.tb3_4}}<br />
						{{company.tb3_5}}
					</div>
				</div>
				<div class="pc-contents-company_outline-box">
					<div class="pc-contents-company_outline-box-title">{{company.ta4}}</div>
					<div class="pc-contents-company_outline-box-desc">{{company.tb4}}</div>
				</div>
				<div class="pc-contents-company_outline-box">
					<div class="pc-contents-company_outline-box-title">{{company.ta5}}</div>
					<div class="pc-contents-company_outline-box-desc">{{company.tb5}}</div>
				</div>
				<div class="pc-contents-company_outline-box">
					<div class="pc-contents-company_outline-box-title">{{company.ta6}}</div>
					<div class="pc-contents-company_outline-box-desc">{{company.tb6}}</div>
				</div>
				<div class="pc-contents-company_outline-box">
					<div class="pc-contents-company_outline-box-title">{{company.ta7}}</div>
					<div class="pc-contents-company_outline-box-desc">{{company.tb7}}</div>
				</div>
				<div class="pc-contents-company_outline-box">
					<div class="pc-contents-company_outline-box-title">{{company.ta8}}</div>
					<div class="pc-contents-company_outline-box-desc">{{company.tb8}}</div>
				</div>
			</div>
			<div id="js-company_history-desc-pc" class="pc-contents-company_history">
				<h3>{{company.text2}}</h3>
				<div class="pc-contents-company_history-box">
					<div class="pc-contents-company_history-box-title">{{company.ta9}}</div>
					<div class="pc-contents-company_history-box-desc">{{company.tb9}}</div>
				</div>
				<div class="pc-contents-company_history-box">
					<div class="pc-contents-company_history-box-title">{{company.ta10}}</div>
					<div class="pc-contents-company_history-box-desc">{{company.tb10}}</div>
				</div>
				<div class="pc-contents-company_history-box">
					<div class="pc-contents-company_history-box-title">{{company.ta11}}</div>
					<div class="pc-contents-company_history-box-desc">{{company.tb11}}</div>
				</div>
			</div>
			<div id="js-company_philosophy-desc-pc" class="pc-contents-company_philosophy">
				<div class="pc-contents-company_philosophy-desc">
					<h3>{{company.text3}}</h3>
					<p class="pc-contents-company_philosophy-desc-text">
						{{company.ta13}}
					</p>
				</div>
				<div class="pc-contents-company_philosophy-img">
					<img src="/img/company/pc/company_bottom.png" width="400" height="404" alt="BIT AGENT">
				</div>
			</div>
			<div id="js-company_access-desc-pc" class="pc-contents-company_access">
				<div class="pc-contents-company_philosophy-access-desc">
					<h3>{{company.text4}}</h3>
					<p class="pc-contents-company_philosophy-access-desc-text">
						〒150-0001<br />
						{{company.ta14}}<br />
						{{company.ta15}}
					</p>
				</div>
				<div class="pc-contents-company_philosophy-access-map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3241.245922561937!2d139.7019877!3d35.6709462!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188cbb2654fde9%3A0xed55f597524bcbef!2z44CSMTUwLTAwMDEg5p2x5Lqs6YO95riL6LC35Yy656We5a6u5YmN77yR5LiB55uu77yR77yV4oiS77yR77yU!5e0!3m2!1sja!2sjp!4v1514618103715" width="1080" height="384" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div>
			<div class="pc-contents-footer">
				<ul class="pc-contents-footer-list">
					<li><a href="/policy/">{{footerList.menu1}}</a></li>
					<li><a href="/security/">{{footerList.menu2}}</a></li>
					<li><a href="/partner/">{{footerList.menu3}}</a></li>
				</ul>
				<h2>&copy;bit-agent 2018 All right reserved.</h2>
			</div>
		</div>
	</div>
</script>
<div id="output"></div>
<script>
var template = Handlebars.compile($('#company').html());
</script>
</body>
</head>
