/************************************************************
 * common style
 ************************************************************/
body, select, textarea, th, td, li, a, input {
    font-family: 'メイリオ','meiryo','ＭＳ Ｐゴシック','MS P Gothic','ヒラギノ角ゴ Pro','Hiragino Kaku Gothic Pro','Helvetica','sans-serif';
}
body, select, textarea {
    color: #333333;
    font-size: 12px;
    line-height: 1.4;
}
body {
    background-color: #000;
}

/* img hover */
a img:hover {
    opacity: .8;
    filter: alpha(opacity=80);
}

div, p, table, td, th, dl, dt, dd, ul, ol, li, a, span {
    word-break: break-all;
}

sup {
    vertical-align: top
}

/************************************************************
 * anchor-link
 ************************************************************/
 // 通常リンク
a:link    { color: #fff; }
a:visited { color: #fff; }
a:hover   { color: #feea00; text-decoration: none; }
a:active  { color: #fff; text-decoration: none; }

input[type="text"] {
    padding: 5px;
    border: 1px solid #E6EDE0;
    @include border-radius(3px);
}

// input checkbox, radio
input[type='checkbox'],
input[type='radio'] {
    opacity: 0;
    filter:alpha(opacity=0);
    position: absolute;
    outline: none;
    cursor: pointer;
    zoom: 1;
    width: 22px;
    height: 22px;
}

input[type='checkbox']:disabled,
input[type='radio']:disabled {
    cursor: default;
}
