@mixin link($color, $underline: none) {
	a:link    { color: $color; }
	a:visited { color: $color; }
	a:hover   { color: $color; text-decoration: $underline; }
	a:active  { color: $color; text-decoration: $underline; }
}

// sp sprite
@mixin sprite_item($name, $sprites_img) {
	width: floor(image-width(sprite-file($sprites_img, $name)) / 2);
	height: floor(image-height(sprite-file($sprites_img, $name)) / 2);
	$position: sprite-position($sprites_img, $name);
	background-position: floor(nth($position, 1) / 2) floor(nth($position, 2) / 2);
}
@mixin sprite_base($sprites_img) {
	display: inline-block;
	vertical-align: middle;
	background: $sprites_img no-repeat;
	@include background-size(floor(image-width(sprite-path($sprites_img)) / 2), floor(image-height(sprite-path($sprites_img)) / 2));
}
$sp-common-icon-: sprite-map("common/sp/sprite/common-icon-/*.png", $layout: horizontal, $spacing: 8px);
.icon {
	@include sprite_base($sp-common-icon-);
}
@each $item in sprite-names($sp-common-icon-){
	.icon--#{$item}{
		@include sprite_item($item, $sp-common-icon-);
	}
}

// pc sprite
@mixin sprite_base_pc($sprites_img) {
	display: inline-block;
	vertical-align: middle;
	background: $sprites_img no-repeat;
	@include background-size(image-width(sprite-path($sprites_img)), image-height(sprite-path($sprites_img)));
}

@mixin sprite_item_pc($name, $sprites_img) {
	width: image-width(sprite-file($sprites_img, $name));
	height: image-height(sprite-file($sprites_img, $name));
	$position: sprite-position($sprites_img, $name);
	background-position: nth($position, 1) nth($position, 2);
}

$pc-common-icon-: sprite-map("common/pc/sprite/common-icon-/*.png", $layout: horizontal, $spacing: 8px);
.pc_icon {
	@include sprite_base_pc($pc-common-icon-);
}
@each $item in sprite-names($pc-common-icon-){
	.pc_icon--#{$item}{
		@include sprite_item_pc($item, $pc-common-icon-);
	}
}
