.page_top {
	display: none;
	position: fixed;
	right: 20px;
	bottom: 78px;
	z-index: 99;
}

.pc-page_top {
	display: none;
	position: fixed;
	right: 8%;
    bottom: 14%;
	z-index: 99;
}

.new-icon {
	display: inline-block;
	width: 30px;
	height: 15px;
	background-image: url('/img/news/sp/new.png');
	background-size: 30px 15px;
	margin-right: 10px;
	@media #{$pc} {
		width: 40px;
		height: 20px;
		background-image: url('/img/news/pc/new.png');
		background-size: 40px 20px;
		vertical-align: -4px;
	}
}
.is-hidden {
	display: none !important;
}

.modal {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9999999;
	background-color: #161616;
	.modal-top {
		background: #161616;
		border-bottom: 1px solid #3c3c3c;
		.modal-top-img {
			content: '';
			position: absolute;
			top: 17px;
			left: 50%;
			margin-left: -11px;
			@extend .icon;
			@extend .icon--modal_logo;
		}
		.modal-top-logo {
			position: relative;
			padding: 40px 0 14px;
			text-align: center;
			font-size: 10px;
			color: #fff;
		}
		.modal-top-close  {
			position: absolute;
			top: 17px;
			right: 10px;
			z-index: 99999999;
			@extend .icon;
			@extend .icon--modal_close;
		}
	}
	.modal-menu {
		background: #161616;
		overflow-y: auto;
		> li {
			position: relative;
			border-bottom: 1px solid #3c3c3c;
			text-align: center;
			&:last-child {
				border-bottom: 0;
				padding: 45px 0;
			}
			> a {
				display: block;
				padding: 20px 0;
				font-size: 14px;
				&.modal-menu-info {
					position: relative;
					padding-top: 50px;
					&.modal-menu-info--ko {
						&:before {
							content: '';
							position: absolute;
							top: 26px;
							margin-left: 12px;
							@extend .icon;
							@extend .icon--info;
							width: 26px !important;
						}
					}
					&.modal-menu-info--jp {
						&:before {
							content: '';
							position: absolute;
							top: 26px;
							margin-left: 30px;
							@extend .icon;
							@extend .icon--info;
							width: 26px !important;
						}
					}
				}
			}
		}
		.modal-menu-language {
			@include clearfix;
			width: 230px;
			margin: 0 auto;
			.modal-menu-language-jp {
				display: block;
				width: 115px;
				height: 35px;
				padding-top: 9px;
				float: left;
				text-align: center;
				background: #313131;
				color: #fff;
				text-align: center;
				font-size: 20px;
				&.is-active {
					color: #161528;
					background: -webkit-linear-gradient(left, #ffea00, #baff00);
					background:    -moz-linear-gradient(right, #ffea00, #baff00);
					background:      -o-linear-gradient(right, #ffea00, #baff00);
					background:         linear-gradient(to right, #ffea00, #baff00);
				}
			}
			.modal-menu-language-kr {
				display: block;
				width: 115px;
				height: 35px;
				padding-top: 9px;
				float: left;
				background: #313131;
				color: #fff;
				text-align: center;
				font-size: 20px;
				&.is-active {
					color: #161528;
					background: -webkit-linear-gradient(left, #ffea00, #baff00);
					background:    -moz-linear-gradient(right, #ffea00, #baff00);
					background:      -o-linear-gradient(right, #ffea00, #baff00);
					background:         linear-gradient(to right, #ffea00, #baff00);
				}
			}
		}
	}
}
.gradation_bg {
	background: -webkit-linear-gradient(left, #ffea00, #baff00);
	background:    -moz-linear-gradient(right, #ffea00, #baff00);
	background:      -o-linear-gradient(right, #ffea00, #baff00);
	background:         linear-gradient(to right, #ffea00, #baff00);
}
.gradation_text {
	background: -webkit-linear-gradient(left, #ffea00, #baff00);
	background:    -moz-linear-gradient(right, #ffea00, #baff00);
	background:      -o-linear-gradient(right, #ffea00, #baff00);
	background:         linear-gradient(to right, #ffea00, #baff00);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}
.gradation_set {
	text-align: center;
	background: -webkit-linear-gradient(left, #ffea00, #baff00);
	background:    -moz-linear-gradient(right, #ffea00, #baff00);
	background:      -o-linear-gradient(right, #ffea00, #baff00);
	background:         linear-gradient(to right, #ffea00, #baff00);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	margin-top: 12px;
	font-size: 12px;
	padding: 4px 6px;
	border: 1px solid transparent;
	background-color: #3c3c3c;
	-moz-border-image: -moz-linear-gradient(top left, #ffea00 0%, #baff00 100%);
	-webkit-border-image: -webkit-linear-gradient(top left, #ffea00 0%, #baff00 100%);
	border-image: linear-gradient(to bottom right, #ffea00 0%, #baff00 100%);
	border-image-slice: 1;
}
.menu_title {
	text-align: center;
	color: #fff;
	font-size: 14px;
}

.header {
	position: fixed;
	width: 100%;
	height: 52px;
	background: #161616;
	z-index: 999999;
	@media #{$pc} {
		display: none;
	}
	> h1 {
		 > a {
		 	> img {
				position: absolute;
				z-index: 1;
				display: block;
				width: 117px;
				height: 28px;
				top: 50%;
				left: 50%;
				margin-top: -14px;
				margin-left: -58px;
			}

		}
	}
	.header-menu_bt {
		position: absolute;
		top: 14px;
		right: 10px;
		@extend .icon;
		@extend .icon--menu_bt;
		width: 34px;
		height: 25px;
	}
}

.contents {
	padding-top: 52px;
	@media #{$pc} {
		display: none;
	}
	.contents-partner {
		padding: 25px 10px;
		background: #313131;
		> h3 {
			@extend .gradation_text;
		}
		.contents-partner-text {
			margin-top: 20px;
			color: #fff;
			> span {
				color: #c6fb00;
			}
			.contents-partner-text-list {
				li {
					text-indent: -12px;
					margin-left: 12px;
					&:before {
						content: '・';
					}
				}
			}
		}
	}
	.contents-security {
		padding: 25px 10px;
		background: #313131;
		> h3 {
			@extend .gradation_text;
		}
		.contents-security-text {
			margin-top: 20px;
			color: #fff;
			> span {
				color: #c6fb00;
			}
			.contents-security-text-list {
				li {
					text-indent: -12px;
					margin-left: 12px;
					&:before {
						content: '・';
					}
				}
			}
		}
	}
	.contents-policy {
		padding: 25px 10px;
		background: #313131;
		> h3 {
			@extend .gradation_text;
		}
		.contents-policy-text {
			margin-top: 20px;
			color: #fff;
			> span {
				color: #c6fb00;
			}
			.contents-policy-text-list {
				li {
					text-indent: -12px;
					margin-left: 12px;
					&:before {
						content: '・';
					}
				}
			}
		}
	}
	.contents-tel_fax {
		padding: 24px 8px 0;
		background: #1c1c1c;
		dt {
			@extend .gradation_text;
			font-size: 14px;
			padding-bottom: 16px;
		}
		dd {
			margin-top: 4px;
			font-size: 11px;
			color: #fff;
		}
	}
	.contents-support {
		padding: 0 8px 35px;
		background: #161616;
		> li {
			&:nth-child(1) {
				background: #161616;	
			}
			&:nth-child(2) {
				background: #1c1c1c;	
			}
			&:nth-child(3) {
				background: #313131;
			}
			> h3 {
				padding-top: 24px;
				@extend .gradation_text;
				font-size: 14px;
				> span {
					margin-left: 15px;
					color: #c7fb00;
					font-size: 10px;
				}
			}
			.contents-support-item {
				width: 100%;
				margin-top: 20px;
				@include clearfix;
				.contents-support-item-left {
					float: left;
					width: 50%;
					.contents-support-item-left-list {
						> li {
							> dl {
								> dt {
									margin-top: 12px;
									padding-right: 4px;
									font-size: 12px;
									color: #c6fb00;
								}
								> dd {
									margin-top: 14px;
									font-size: 11px;
									color: #fff;
									padding-right: 10px;
								}
							}
						}
					}
				}
				.contents-support-item-right {
					float: left;
					width: 50%;
					.contents-support-item-right-list {
						> li {
							> dl {
								> dt {
									margin-top: 12px;
									padding-right: 4px;
									font-size: 12px;
									color: #c6fb00;
								}
								> dd {
									margin-top: 14px;
									font-size: 11px;
									color: #fff;
									padding-right: 10px;
								}
							}
						}
					}
				}

			}
		}
	}
	.contents-support_1 {
		padding: 0 8px 35px;
		background: #1c1c1c;
		> li {
			> h3 {
				padding-top: 24px;
				@extend .gradation_text;
				font-size: 14px;
				> span {
					margin-left: 15px;
					color: #c7fb00;
					font-size: 10px;
				}
			}
			.contents-support_1-img {
				margin-top: 24px;
			}
		}
	}
	.contents-support_2 {
		padding: 0 8px 35px;
		background: #313131;
		> li {
			> h3 {
				padding-top: 24px;
				@extend .gradation_text;
				font-size: 14px;
				> span {
					margin-left: 15px;
					color: #c7fb00;
					font-size: 10px;
				}
			}
			.contents-support_2-img {
				margin-top: 24px;
			}
			.contents-support_2-item {
				width: 100%;
				margin-top: 8px;
				@include clearfix;
				.contents-support_2-item-left {
					float: left;
					width: 50%;
					.contents-support_2-item-left-list {
						> li {
							> dl {
								> dt {
									margin-top: 12px;
									padding-right: 4px;
									font-size: 12px;
									color: #c6fb00;
								}
								> dd {
									margin-top: 14px;
									font-size: 11px;
									color: #fff;
									padding-right: 10px;
								}
							}
						}
					}
				}
				.contents-support_2-item-right {
					float: left;
					width: 50%;
					.contents-support_2-item-right-list {
						> li {
							> dl {
								> dt {
									margin-top: 12px;
									padding-right: 4px;
									font-size: 12px;
									color: #c6fb00;
								}
								> dd {
									margin-top: 14px;
									font-size: 11px;
									color: #fff;
									padding-right: 10px;
								}
							}
						}
					}
				}

			}
		}
	}
	.contents-support_3 {
		padding: 0 8px 35px;
		background: #161616;
		> li {
			> h3 {
				padding-top: 24px;
				@extend .gradation_text;
				font-size: 14px;
				> span {
					margin-left: 15px;
					color: #c7fb00;
					font-size: 10px;
				}
			}
			> .contents-support_3-list {
				margin-top: 24px;
				> li {
					background: #1c1c1c;
					padding: 10px;
					&:nth-child(2n) {
						background: #252525;
					}
					> p {
						color: #c6fb00;
						font-size: 12px;
						> span {
							display: inline-block;
							width: 16px;
							height: 14px;
							padding-top: 1px;
							margin-right: 6px;
							@include border-radius(50%);
							@extend .gradation_bg;
							color: #000;
							font-size: 10px;
							text-align: center;
						}
					}
					> dl {
						> dt {
							margin: 6px 0;
							font-size: 12px;
							color: #fff;
						}
						> dd {
							font-size: 10px;
							color: #fff;
							padding-left: 8px;
						}
					}
				}
			}
		}
	}
	.contents-support_4 {
		padding: 0 8px 35px;
		background: #1c1c1c;
		> li {
			> h3 {
				padding-top: 24px;
				@extend .gradation_text;
				font-size: 14px;
				> span {
					margin-left: 15px;
					color: #c7fb00;
					font-size: 10px;
				}
			}
			.contents-support_4-img {
				margin-top: 20px;
			}
		}
	}
	.contents-support_5 {
		padding: 0 8px;
		background: #313131;
		> li {
			> h3 {
				padding-top: 24px;
				@extend .gradation_text;
				font-size: 14px;
				> span {
					margin-left: 15px;
					color: #c7fb00;
					font-size: 10px;
				}
			}
			.contents-support_5-img {
				padding-top: 20px;
				padding-bottom: 24px;
			}
		}
	}
	.contents-support_6 {
		> li {
			width: 100%;
			height: 204px;
			padding: 35px 0;
			background-image: url('/img/support/sp/kr_09_sp.png');
			background-size: 100% 274px;
			> h3 {
				padding: 0 8px;
				font-size: 14px;
				@extend .gradation_text;

			}
			> dl {
				> dt {
					margin-top: 20px;
					font-size: 12px;
					color: #c6fb00;
					padding: 0 8px;
				}
				> dd {
					margin-top: 10px;
					font-size: 11px;
					color: #fff;
					padding: 0 8px;
				}
			}
		}
	}
	.contents-support_7 {
		> li {
			width: 100%;
			height: 202px;
			background-image: url('/img/support/sp/kr_10_sp.png');
			background-size: 100% 275px;
			padding: 35px 0;
			> h3 {
				font-size: 14px;
				@extend .gradation_text;
				padding: 0 8px;
			}
			> dl {
				> dt {
					margin-top: 20px;
					font-size: 12px;
					color: #c6fb00;
					padding: 0 8px;
				}
				> dd {
					margin-top: 10px;
					font-size: 11px;
					color: #fff;
					padding: 0 8px;
				}
			}
		}
	}
	.contents-news {
		padding: 25px 10px 75px;
		background: #161616;
		h3 {
			@extend .gradation_text;
		}
		.contents-news-item {
			.contents-news-item-date {
				margin-top: 25px;
				color: #fff;
				font-size: 11px;
				font-weight: bold;
			}
			.contents-news-item-title {
				margin-top: 14px;
				color: #fff;
				font-size: 11px;
			}
			.contents-news-item-desc {
				margin-top: 25px;
				color: #fff;
				font-size: 11px;
			}
			.contents-news-item-link {
				margin-top: 23px;
				a {
					display: block;
					width: 160px;
					height: 29px;
					margin: 0 auto;
					padding-top: 11px;
					color: #161616;
					text-align: center;
					@extend .gradation_bg;
				}
			}
		}
	}
	.contents-notice {
		padding: 25px 10px 75px;
		background: #1c1c1c;
		h3 {
			@extend .gradation_text;
		}
		.contents-notice-item {
			.contents-notice-item-date {
				margin-top: 25px;
				color: #fff;
				font-size: 11px;
				font-weight: bold;
			}
			.contents-notice-item-title {
				margin-top: 14px;
				color: #fff;
				font-size: 11px;
			}
			.contents-notice-item-desc {
				margin-top: 25px;
				color: #fff;
				font-size: 11px;
			}
			.contents-notice-item-link {
				margin-top: 23px;
				a {
					display: block;
					width: 160px;
					height: 29px;
					margin: 0 auto;
					padding-top: 11px;
					color: #161616;
					text-align: center;
					@extend .gradation_bg;
				}
			}
		}
	}
	.contents-main {	
		position: relative;
		.contents-main-partner {
			margin-left: -77px;
		}
		.contents-main-security {
			margin-left: -84px;
		}
		.contents-main-policy {
			margin-left: -56px;
		}
		.contents-main-text {
			position: absolute;
			z-index: 2;
			top: 60px;
			left: 9px;
			&.contents-main-text--jp {
				width: 171px;
				height: 45px;
				background-image: url('/img/top/sp/main_text_jp.png');
				background-size: 171px 45px;
			}
			&.contents-main-text--kr {
				width: 171px;
				height: 45px;
				background-image: url('/img/top/sp/main_text_kr.png');
				background-size: 171px 45px;
			}
		}
		> h3 {
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 1;
			color: #fff;
			font-size: 14px;
			margin-top: -9px;
			margin-left: -28px;
			&.contents-main-contact {
				margin-top: -10px;
				margin-left: -42px;
				&.contents-main-contact--kr {
					margin-left: -26px;
					
				}
				&.contents-main-contact--jp {
					margin-left: -42px;
				}
			}
			&.contents-main-recruit {
				margin-top: -10px;
				margin-left: -35px;
			}
			&.contents-main-business {
				margin-top: -10px;
				margin-left: -35px;
			}
			&.contents-main-news {
				margin-top: -10px;
				margin-left: -48px;
			}
			&.contents-main-notice {
				margin-top: -10px;
				margin-left: -22px;
			}
			&.contents-main-support {
				margin-top: -9px;
				margin-left: -38px;
			}
		}
	}
	.contents-menu {
		@include clearfix;
		> li {
			width: 50%;
			float: left;
			position: relative;
			&:nth-child(1) {
				width: 100%;
				height: 85px;
				background: #313131;
				> a {
					display: block;
					height: 85px;
				}
			}
			&:nth-child(2) {
				width: 100%;
				height: 85px;
				background: #161616;
				> a {
					display: block;
					height: 85px;
				}
			}
			> a {
				 .contents-menu-news {
					position: absolute;
					top: 50%;
					left: 50%;
					z-index: 1;
					margin-top: -29px;
					margin-left: -48px;
					.contents-menu-news-title {
						@extend .menu_title;
					}
					.contents-menu-news-more {
						border: 1px solid #ffea00;
						@extend .gradation_set;
					}

				}
				.contents-menu-business {
					width: 96px;
					position: absolute;
					top: 50%;
					left: 50%;
					z-index: 1;
					margin-top: -29px;
					margin-left: -48px;
					.contents-menu-business-title {
						@extend .menu_title;
					}
					.contents-menu-business-more {
						border: 1px solid #ffea00;
						@extend .gradation_set;
					}
				}
				.contents-menu-ses {
					position: absolute;
					top: 50%;
					left: 50%;
					z-index: 1;
					margin-top: -8px;
					margin-left: -24px;
					color: #fff;
				}
				.contents-menu-entrusted {
					position: absolute;
					top: 50%;
					left: 50%;
					z-index: 1;
					margin-top: -8px;
					margin-left: -25px;
					color: #fff;
				}
				.contents-menu-businesseapp {
					position: absolute;
					top: 50%;
					left: 50%;
					z-index: 1;
					margin-top: -8px;
					margin-left: -66px;
					color: #fff;
				}
				.contents-menu-maintenance {
					position: absolute;
					top: 50%;
					left: 50%;
					z-index: 1;
					width: 138px;
					margin-top: -16px;
					margin-left: -66px;
					color: #fff;
					text-align: center;
				}
				.contents-menu-consulting {
					position: absolute;
					top: 50%;
					left: 50%;
					z-index: 1;
					margin-top: -8px;
					margin-left: -60px;
					color: #fff;
				}
				.contents-menu-smartapp {
					position: absolute;
					top: 50%;
					left: 50%;
					z-index: 1;
					width: 150px;
					margin-top: -16px;
					margin-left: -78px;
					color: #fff;
					text-align: center;
				}
			}
		}
	}
	.contents-company_outline {
		padding: 25px 10px;
		background: #161616;
		> h3 {
			@extend .gradation_text;
		}
		.contents-company_outline-box {
			display: table;
			color: #fff;
			margin-top: 18px;
			.contents-company_outline-box-title {
				display: table-cell;
				width: 100px;
				vertical-align: top;
				text-align: left;
			}
			.contents-company_outline-box-desc {
				display: table-cell;
				vertical-align: top;
				text-align: left;
			}
		}
	}
	.contents-company_history {
		padding: 25px 10px;
		background: #1c1c1c;
		> h3 {
			@extend .gradation_text;
		}
		.contents-company_history-box {
			display: table;
			color: #fff;
			margin-top: 18px;
			.contents-company_history-box-title {
				display: table-cell;
				width: 100px;
				vertical-align: top;
				text-align: left;
			}
			.contents-company_history-box-desc {
				display: table-cell;
				vertical-align: top;
				text-align: left;
			}
		}
	}
	.contents-company_access {
		> dl {
			padding: 24px 10px;
			background: #161616;
			> dt {
				@extend .gradation_text;
				font-size: 14px;
				padding-bottom: 14px;
			}
			> dd {
				margin-top: 4px;
				color: #fff;
				font-size: 12px;
			}
		}
	}
	.contents-company_philosophy {
		padding: 25px 10px;
		background: #313131;
		> h3 {
			@extend .gradation_text;
		}
		.contents-company_philosophy-box {
			margin-top: 18px;
			color: #fff;
		}
	}
	.contents-submenu {
		@include clearfix;
		> li {
			position: relative;
			width: 50%;
			height: 70px;
			background: #313131;
			color: #fff;
			float: left;
			&:nth-child(even) {
				background: #1c1c1c;
			}
			> a {
				display: block;
				height: 47px;
				padding-top: 23px;
				text-align: center;
				&:after {
					content: '';
					position: absolute;
					top: 47px;
					left: 50%;
					margin-left: -3px;
					@extend .icon;
					@extend .icon--arrow_bottom;
				}
			} 
		}
	}
	.contents-submenu_2 {
		@include clearfix;
		> li {
			position: relative;
			width: 50%;
			height: 70px;
			background: #1c1c1c;
			color: #fff;
			float: left;
			&:nth-child(even) {
				background: #313131;
			}
			> a {
				display: block;
				height: 47px;
				padding-top: 23px;
				text-align: center;
				&:after {
					content: '';
					position: absolute;
					top: 47px;
					left: 50%;
					margin-left: -3px;
					@extend .icon;
					@extend .icon--arrow_bottom;
				}
			} 
		}
	}
	.contents-news_menu {
		@include clearfix;
		> li {
			position: relative;
			width: 50%;
			height: 70px;
			background: #313131;
			color: #fff;
			float: left;
			&:nth-child(even) {
				background: #1c1c1c;
			}
			> a {
				display: block;
				height: 47px;
				padding-top: 23px;
				text-align: center;
				&:after {
					content: '';
					position: absolute;
					top: 47px;
					left: 50%;
					margin-left: -3px;
					@extend .icon;
					@extend .icon--arrow_bottom;
				}
			} 
		}
	}
	.contents-business_menu {
		@include clearfix;
		> li {
			position: relative;
			width: 50%;
			height: 70px;
			background: #313131;
			color: #fff;
			float: left;
			&:nth-child(even) {
				background: #1c1c1c;
			}
			> a {
				display: block;
				height: 47px;
				padding-top: 23px;
				text-align: center;
				&:after {
					content: '';
					position: absolute;
					top: 47px;
					left: 50%;
					margin-left: -3px;
					@extend .icon;
					@extend .icon--arrow_bottom;
				}
			} 
		}
	}
	.contents-business {
		padding: 0 10px 40px;
		background: #1c1c1c;
		h3 {
			padding-top: 28px;
			@extend .gradation_text;
		}
		.contents-business-ses {
			dt {
				margin: 28px 0 16px;
				color: #fff;
			}
			dd {
				font-size: 11px;
				color: #fff;
				&:last-of-type {
					margin-top: 22px;
				}
			}
		}
		.contents-business-entrusted {
			margin-top: 28px;
			dt {
				margin: 28px 0 16px;
				color: #fff;
			}
			dd {
				font-size: 11px;
				color: #fff;
				&:last-of-type {
					margin-top: 22px;
				}
			}
		}
		.contents-business-businesseapp {
			margin-top: 28px;
			dt {
				margin: 28px 0 16px;
				color: #fff;
			}
			dd {
				font-size: 11px;
				color: #fff;
				&:last-of-type {
					margin-top: 22px;
				}
			}
		}
		.contents-business-maintenance {
			margin-top: 28px;
			dt {
				margin: 28px 0 16px;
				color: #fff;
			}
			dd {
				font-size: 11px;
				color: #fff;
				&:last-of-type {
					margin-top: 22px;
				}
			}
		}
		.contents-business-consulting {
			margin-top: 28px;
			dt {
				margin: 28px 0 16px;
				color: #fff;
			}
			dd {
				font-size: 11px;
				color: #fff;
				&:last-of-type {
					margin-top: 22px;
				}
			}
		}
		.contents-business-smartapp {
			margin-top: 28px;
			dt {
				margin: 28px 0 16px;
				color: #fff;
			}
			dd {
				font-size: 11px;
				color: #fff;
				&:last-of-type {
					margin-top: 22px;
				}
			}
		}
		.contents-business-performance {
			margin-top: 28px;
			li {
				padding-left: 8px;
				font-size: 11px;
				color: #fff;
				text-indent: -11px;
				&:before {
					content: '・'
				}
			}
		}
	}
	.contents-contact {
		background: #1c1c1c;
		padding: 24px 8px 50px;
		dt {
			@extend .gradation_text;
			font-size: 14px;
		}
		dd {
			margin-top: 12px;
			 > input[type="text"] {
				width: 100%;
				outline: none;
				padding: 10px;
				font-size: 13px;
				@include border-radius(4px);
			}
			> textarea {
				width: 100%;
				height: 235px;
				padding: 10px;
				resize: none;
				outline: none;
				@include border-radius(4px);
				font-size: 13px;
			}
			> button {
				width: 100%;
				padding: 24px 0;
				font-size: 14px;
				color: #161616;
				background: -webkit-linear-gradient(left, #ffea00, #baff00);
				background:    -moz-linear-gradient(right, #ffea00, #baff00);
				background:      -o-linear-gradient(right, #ffea00, #baff00);
				background:         linear-gradient(to right, #ffea00, #baff00);
				outline: none;
				border: 1px;
			}
			> span {
				display: block;
				font-size: 12px;
				color: red;
				margin-top: 4px;
			}
			&:first-of-type {
				margin-top: 20px;
			}
			&:last-of-type {
				margin-top: 14px;
			}
		}
	}
	.contents-recruit {
		padding: 30px 10px 50px;
		background: #1c1c1c;
		> h3 {
			@extend .gradation_text;
			font-size: 14px;
		}
		.contents-recruit-list {
			margin-top: 20px;
			 > li {
				border-top: 1px solid #fff;
				border-left: 1px solid #fff;
				border-right: 1px solid #fff;
				.contents-recruit-list-wanted {
					> dt {
						padding: 15px 12px;
						font-weight: bold;
						color: #fff;
						border-bottom: 1px solid #fff;
					}
					> dd {
						padding: 0 10px 8px 20px;
						color: #fff;
						text-indent: -12px;
						&:first-of-type {
							padding-top: 15px;
						}
						&:last-of-type {
							padding-bottom: 15px;
						}
						&:before {
							content: '・'
						}
					}
				}
				.contents-recruit-list-employment {
					> dt {
						padding: 15px 12px;
						font-weight: bold;
						color: #fff;
						border-bottom: 1px solid #fff;
					}
					> dd {
						padding: 0 10px 8px 20px;
						color: #fff;
						text-indent: -12px;
						&:first-of-type {
							padding-top: 15px;
						}
						&:last-of-type {
							padding-bottom: 15px;
						}
						&:before {
							content: '・'
						}
					}
				}
				.contents-recruit-list-skill {
					padding: 15px 12px;
					font-weight: bold;
					color: #fff;
				}
				.contents-recruit-list-app {
					> dt {
						padding: 15px 12px;
						font-weight: bold;
						color: #fff;
					}
					> dd {
						padding: 0 10px 8px 20px;
						text-indent: -12px;
						color: #fff;
						&:first-of-type {
							padding-top: 15px;
						}
						&:last-of-type {
							padding-bottom: 15px;
						}
						&:before {
							content: '・'
						}
					}
				}
				.contents-recruit-list-server {
					> dt {
						padding: 15px 12px;
						font-weight: bold;
						color: #fff;
					}
					> dd {
						padding: 0 10px 8px 20px;
						text-indent: -12px;
						color: #fff;
						&:first-of-type {
							padding-top: 15px;
						}
						&:last-of-type {
							padding-bottom: 15px;
						}
						&:before {
							content: '・'
						}
					}
				}
				.contents-recruit-list-network {
					> dt {
						padding: 15px 12px;
						font-weight: bold;
						color: #fff;
					}
					> dd {
						padding: 0 10px 8px 20px;
						text-indent: -12px;
						color: #fff;
						&:first-of-type {
							padding-top: 15px;
						}
						&:last-of-type {
							padding-bottom: 15px;
						}
						&:before {
							content: '・'
						}
					}
				}
				.contents-recruit-list-deliverable {
					> dt {
						padding: 15px 12px;
						font-weight: bold;
						color: #fff;
						border-top: 1px solid #fff;
						border-bottom: 1px solid #fff;
					}
					> dd {
						padding: 0 10px 8px 20px;
						text-indent: -12px;
						color: #fff;
						&:first-of-type {
							padding-top: 15px;
						}
						&:last-of-type {
							padding-bottom: 15px;
						}
						&:before {
							content: '・'
						}
					}
				}
				.contents-recruit-list-flow {
					> dt {
						padding: 15px 12px;
						font-weight: bold;
						color: #fff;
						border-top: 1px solid #fff;
						border-bottom: 1px solid #fff;
					}
					> dd {
						padding: 0 10px 8px 20px;
						text-indent: -12px;
						color: #fff;
						&:first-of-type {
							padding-top: 15px;
						}
						&:last-of-type {
							padding-bottom: 15px;
						}
						&:before {
							content: '・'
						}
					}
				}
				.contents-recruit-list-other {
					> dt {
						padding: 15px 12px;
						font-weight: bold;
						color: #fff;
						border-top: 1px solid #fff;
						border-bottom: 1px solid #fff;
					}
					> dd {
						padding: 0 10px 8px 20px;
						text-indent: -12px;
						color: #fff;
						&:first-of-type {
							padding-top: 15px;
						}
						&:last-of-type {
							padding-bottom: 15px;
						}
						&:before {
							content: '・'
						}
					}
				}
				.contents-recruit-list-method {
					> dt {
						padding: 15px 12px;
						font-weight: bold;
						color: #fff;
						border-top: 1px solid #fff;
						border-bottom: 1px solid #fff;
					}
					> dd {
						padding: 0 10px 8px 20px;
						text-indent: -12px;
						color: #fff;
						&:first-of-type {
							padding-top: 15px;
						}
						&:last-of-type {
							padding-bottom: 15px;
						}
						&:before {
							content: '・'
						}
					}
				}
				&:last-child {
					border-bottom: 1px solid #fff;
				}
			}
		}
	}

}

.footer {
	padding: 15px 0;
	background: #161616;
	@media #{$pc} {
		display: none;
	}
	.footer-list {
		width: 307px;
		margin: 0 auto;
		@include clearfix;
		li {
			position: relative;
			float: left;
			a {
				margin: 0 7px 0 12px;
				font-size: 10px;
				color: #fff;
			}
			&:after {
				content: '|';
				position: absolute;
				top: 8px;
				margin-top: -9px;
				color: #fff;
				font-size: 10px;
			}
			&:last-child {
				margin-right: 0;
				&:after {
					content: '';
				}	
			}
		}
	}
	h2 {
		margin-top: 4px;
		font-size: 10px;
		color: #fff;
		text-align: center;
	}
}

.pc-layout {
	position: relative;
	width: 1280px;
	margin: 0 auto;
	@include clearfix;
	@media #{$sp} {
		display: none;
	}
}

.pc-menu {
	position: fixed;
	top: 0;
	z-index: 9999;
	width: 200px;
	height: 100%;
	background: #161616;
	overflow-y: auto;
	@media #{$sp} {
		display: none;
	}
	> li {
		position: relative;
		border-bottom: 1px solid #3c3c3c;
		text-align: center;
		.pc-menu-logo {
			position: relative;
			padding: 118px 0 64px;
			text-align: center;
			font-size: 14px;
			color: #fff;
			&:before {
				content: '';
				position: absolute;
				top: 64px;
				left: 76px;
				@extend .pc_icon;
				@extend .pc_icon--logo;
			
			}
			&:hover {
				color: #feea00;
			}
		}
		&:last-child {
			border-bottom: 0;
			padding: 45px 0;
		}
		> a, p{
			display: block;
			padding: 30px 0;
			font-size: 16px;
			&.pc-menu-info {
				position: relative;
				padding-top: 60px;
				&:before {
					content: '';
					position: absolute;
					top: 34px;
					left: 90px;
					z-index: 1;
					@extend .pc_icon;
					@extend .pc_icon--info;
				}
				
			}
		}
		> .is-active {
			padding: 30px 0;
			font-size: 16px;
			color: #161616;
			background: -webkit-linear-gradient(left, #ffea00, #baff00);
			background:    -moz-linear-gradient(right, #ffea00, #baff00);
			background:      -o-linear-gradient(right, #ffea00, #baff00);
			background:         linear-gradient(to right, #ffea00, #baff00);
		}
		.pc-menu-info {
			position: relative;
    		padding-top: 60px;
			&.is-active {
				color: #161616;
				&:before {
					content: '';
					position: absolute;
					top: 34px;
					left: 90px;
					z-index: 1;
					@extend .pc_icon;
					@extend .pc_icon--info_active;
				}	
			}
		}
	}
	.pc-menu-language {
		@include clearfix;
		width: 160px;
		margin: 0 auto;
		.pc-menu-language-jp {
			display: block;
			width: 80px;
			height: 22px;
			padding-top: 8px;
			float: left;
			text-align: center;
			font-size: 14px;
			background: #313131;
			color: #fff;
			&.is-active {
				color: #161528;
				background: -webkit-linear-gradient(left, #ffea00, #baff00);
				background:    -moz-linear-gradient(right, #ffea00, #baff00);
				background:      -o-linear-gradient(right, #ffea00, #baff00);
				background:         linear-gradient(to right, #ffea00, #baff00);
			}
		}
		.pc-menu-language-kr {
			display: block;
			width: 80px;
			height: 22px;
			padding-top: 8px;
			float: left;
			background: #313131;
			color: #fff;
			text-align: center;
			font-size: 14px;
			&.is-active {
				color: #161528;
				background: -webkit-linear-gradient(left, #ffea00, #baff00);
				background:    -moz-linear-gradient(right, #ffea00, #baff00);
				background:      -o-linear-gradient(right, #ffea00, #baff00);
				background:         linear-gradient(to right, #ffea00, #baff00);
			}
		}
	}
}

.pc-contents {
	position: relative;
	width: 1080px;
	margin-left: 200px;
	@media #{$sp} {
		display: none;
	}
	.pc-contents-partner {
		padding: 50px 56px;
		background: #313131;
		> h3 {
			font-size: 16px;
			@extend .gradation_text;
		}
		.pc-contents-partner-text {
			font-size: 12px;
			margin-top: 20px;
			color: #fff;
			> span {
				font-size: 12px;
				color: #c6fb00;
			}
			.pc-contents-partner-text-list {
				font-size: 12px;
				li {
					padding-top: 20px;
					text-indent: -12px;
					margin-left: 12px;
					&:before {
						content: '・';
					}
				}
			}
		}
	}
	.pc-contents-security {
		padding: 50px 56px;
		background: #313131;
		> h3 {
			font-size: 16px;
			@extend .gradation_text;
		}
		.pc-contents-security-text {
			font-size: 12px;
			margin-top: 20px;
			color: #fff;
			> span {
				font-size: 12px;
				color: #c6fb00;
			}
			.pc-contents-security-text-list {
				font-size: 12px;
				li {
					padding-top: 20px;
					text-indent: -12px;
					margin-left: 12px;
					&:before {
						content: '・';
					}
				}
			}
		}
	}
	.pc-contents-policy {
		padding: 50px 56px;
		background: #313131;
		> h3 {
			font-size: 16px;
			@extend .gradation_text;
		}
		.pc-contents-policy-text {
			font-size: 12px;
			margin-top: 20px;
			color: #fff;
			> span {
				font-size: 12px;
				color: #c6fb00;
			}
			.pc-contents-policy-text-list {
				font-size: 12px;
				li {
					text-indent: -12px;
					margin-left: 12px;
					&:before {
						content: '・';
					}
				}
			}
		}
	}
	.pc-contents-bottom {
		width: 1080px;
		@include clearfix;
		.pc-contents-bottom-left {
			width: 490px;
			height: 400px;
			padding-top: 50px;
			padding-left: 50px;
			float: left;
			background-image: url('/img/support/pc/kr_09.png');
			background-size: 540px 450px;
			> p {
				font-size: 18px;
				margin-bottom: 40px;
				@extend .gradation_text;
			}
			> dl {
				margin-top: 24px;
				> dt {
					font-size: 16px;
					color: #c6fb00;
				}
				> dd {
					margin-top: 10px;
					font-size: 14px;
					color: #fff;
					line-height: 1.6;
				}
			}
		}
		.pc-contents-bottom-right {
			width: 490px;
			height: 400px;
			padding-top: 50px;
			padding-left: 50px;
			float: left;
			background-image: url('/img/support/pc/kr_10.png');
			background-size: 540px 450px;
			> p {
				font-size: 18px;
				margin-bottom: 40px;
				@extend .gradation_text;
			}
			> dl {
				margin-top: 24px;
				> dt {
					font-size: 16px;
					color: #c6fb00;
				}
				> dd {
					margin-top: 10px;
					font-size: 14px;
					color: #fff;
					line-height: 1.6;
				}
			}
		}
	}
	.pc-contents-list {
		> li {
			padding: 50px 44px;
			&:nth-child(1) {
				background: #161616;
			}
			&:nth-child(2) {
				background: #1c1c1c;
			}
			&:nth-child(3) {
				background: #313131;
			}
			&:nth-child(4) {
				background: #161616;
			}
			&:nth-child(5) {
				background: #1c1c1c;
			}
			&:nth-child(6) {
				background: #313131;
			}
			> h3 {
				@extend .gradation_text;
				font-size: 18px;
				> span {
					margin-left: 18px;
					font-size: 13px;
				}
			}
			.pc-contents-list-procedure {
				width: 970px;
				height: 123px;
				margin-top: 46px;
				background-image: url('/img/support/pc/procedure.png');
				background-size: 970px 123px;
			}
			.pc-contents-list-recruit {
				width: 980px;
				height: 241px;
				margin-top: 46px;
				background-image: url('/img/support/pc/recruit_pd.png');
				background-size: 980px 241px;
			}
			.pc-contents-list-frame {
				@include clearfix;
				width: 992px;
				> li {
					width: 245px;
					float: left;
					.pc-contents-list-frame-items {
						.pc-contents-list-frame-items-img_1 {
							width: 245px;
							height: 200px;
							margin-top: 46px;
							background-image: url('/img/support/pc/kr_02.png');
							background-size: 245px 200px;
						}
						.pc-contents-list-frame-items-img_2 {
							width: 245px;
							height: 200px;
							margin-top: 46px;
							background-image: url('/img/support/pc/kr_03.png');
							background-size: 245px 200px;
						}
						.pc-contents-list-frame-items-img_3 {
							width: 245px;
							height: 200px;
							margin-top: 46px;
							background-image: url('/img/support/pc/kr_04.png');
							background-size: 245px 200px;
						}
						.pc-contents-list-frame-items-img_4 {
							width: 245px;
							height: 200px;
							margin-top: 46px;
							background-image: url('/img/support/pc/kr_05.png');
							background-size: 245px 200px;
						}
						.pc-contents-list-frame-items-title {
							margin-top: 28px;
							padding: 0 8px;
							font-size: 16px;
							color: #c6fb00;
						}
						.pc-contents-list-frame-items-desc {
							margin-top: 28px;
							padding: 0 8px;
							font-size: 14px;
							color: #fff;
						}
					}
				}
			}
			.pc-contents-list-organization {
				width: 980px;
				height: 390px;
				margin-top: 46px;
				background-image: url('/img/support/pc/organization.png');
				background-size: 980px 390px;
			}
			.pc-contents-list-proscons_img {
				width: 980px;
				height: 200px;
				margin-top: 46px;
				background-image: url('/img/support/pc/kr_07.png');
				background-size: 980px 200px;
			}
			.pc-contents-list-proscons {
				@include clearfix;
				margin-top: 28px;
				> li {
					width: 470px;
					float: left;
					padding-left: 10px;
					> dl {
						dt {
							font-size: 16px;
							color: #c6fb00;
						}
						dd {
							margin-top: 20px;
							font-size: 14px;
							color: #fff;
						}
					} 
				}
			}
			.pc-contents-list-system {
				width: 980px;
				margin-top: 46px;
				> li {
					background: #1c1c1c;
					&:nth-child(2n) {
						background: #252525;
					}
					.pc-contents-list-system-frame {
						display: table;
						width: 980px;
						.pc-contents-list-system-frame-left {
							display: table-cell;
							width: 288px;
							padding-left: 24px;
							text-align: left;
							vertical-align: middle;
							color: #c6fb00;
							font-size: 16px;
							> span {
								display: inline-block;
								width: 32px;
								height: 27px;
								margin-right: 15px;
								padding-top: 4px;
								@include border-radius(50%);
								@extend .gradation_bg;
								color: #000;
								font-size: 16px;
								text-align: center;
							}
						}
						.pc-contents-list-system-frame-right {
							display: table-cell;
							width: 668px;
							height: 100px;
							text-align: left;
							vertical-align: middle;
							color: #fff;
							> dl {
								dt {
									font-size: 14px;
								}
								dd {
									margin-top: 4px;
									padding-left: 4px;
									font-size: 12px;
								}
							}
						}
					}		
				}
			}
		}
	}
	.pc-contents-main {
		position: relative;
		.pc-contents-main-title {
			position: absolute;
			top: 300px;
			left: 110px;
			z-index: 1;
			&.pc-contents-main-title--partner {
				top: 50%;
				left: 50%;
				font-size: 40px;
				margin-top: -28px;
				margin-left: -220px;
				color: #fff;
				@include text-shadow(1px 1px 3px #000);
			}
			&.pc-contents-main-title--support {
				top: 50%;
				left: 50%;
				font-size: 40px;
				margin-top: -28px;
				margin-left: -108px;
				color: #fff;
				@include text-shadow(1px 1px 3px #000);
			}
			&.pc-contents-main-title--company {
				top: 50%;
				left: 50%;
				font-size: 40px;
				margin-top: -28px;
				margin-left: -80px;
				color: #fff;
				@include text-shadow(1px 1px 3px #000);
			}
			&.pc-contents-main-title--contact {
				top: 50%;
				left: 50%;
				font-size: 40px;
				margin-top: -28px;
				margin-left: -80px;
				color: #fff;
				@include text-shadow(1px 1px 3px #000);
			}
			&.pc-contents-main-title--recruit {
				top: 50%;
				left: 50%;
				font-size: 40px;
				margin-top: -28px;
				margin-left: -120px;
				color: #fff;
				@include text-shadow(1px 1px 3px #000);
			}
			&.pc-contents-main-title--business {
				top: 50%;
				left: 50%;
				font-size: 40px;
				margin-top: -28px;
				margin-left: -80px;
				color: #fff;
				@include text-shadow(1px 1px 3px #000);
			}
			&.pc-contents-main-title--policy {
				top: 50%;
				left: 50%;
				font-size: 40px;
				margin-top: -28px;
				margin-left: -158px;
				color: #fff;
				@include text-shadow(1px 1px 3px #000);
			}
			&.pc-contents-main-title--security {
				top: 50%;
				left: 50%;
				font-size: 40px;
				margin-top: -28px;
				margin-left: -240px;
				color: #fff;
				@include text-shadow(1px 1px 3px #000);
			}
			&.pc-contents-main-title--news {
				top: 50%;
				left: 50%;
				font-size: 40px;
				margin-top: -28px;
				margin-left: -137px;
				color: #fff;
				@include text-shadow(1px 1px 3px #000);
			}
			&.pc-contents-main-title--notice {
				top: 50%;
				left: 50%;
				font-size: 40px;
				margin-top: -28px;
				margin-left: -64px;
				color: #fff;
				@include text-shadow(1px 1px 3px #000);
			}
			.pc-contents-main-title-text {
				color: #fff;
				font-size: 25px;
				@include text-shadow(1px 1px 3px #000);
			}
			.pc-contents-main-title-name {
				color: #fff;
				font-size: 67px;
				@include text-shadow(1px 1px 3px #000);
			}


		}
	}
	.pc-contents-business_menu {
		@include clearfix;
		> li {
			position: relative;
			width: 540px;
			height: 200px;
			background: #313131;
			color: #fff;
			float: left;
			&:nth-child(even) {
				background: #1c1c1c;
			}
			> a {
				display: block;
				height: 130px;
				padding-top: 70px;
				text-align: center;
				font-size: 18px;
				&:after {
					content: '';
					position: absolute;
					top: 164px;
					left: 50%;
					margin-left: -10px;
					@extend .pc_icon;
					@extend .pc_icon--arrow_bottom;
				}
			} 
		}
	}
	.pc-contents-news_item {
		padding: 68px 68px 80px 68px;
		> h3 {
			font-size: 18px;
			@extend .gradation_text;
		}
		.pc-contents-news_item-list {
			.pc-contents-news_item-list-date {
				margin-top: 38px;
				font-size: 14px;
				color: #fff;
			}
			.pc-contents-news_item-list-title {
				font-size: 14px;
				color: #fff;
			}
			.pc-contents-news_item-list-desc {
				margin-top: 40px;
				font-size: 14px;
				color: #fff;
			}
			.pc-contents-news_item-list-link {
				margin-top: 80px;
				.pc-contents-news_item-list-link-button {
					display: block;
					margin: 0 auto;
					width: 200px;
					height: 36px;
					padding-top: 14px;
					text-align: center;
					font-size: 16px;
					@extend .gradation_bg;
					color: #161616;
				}
				
			}
		}
	}
	.pc-contents-news_menu {
		@include clearfix;
		> li {
			position: relative;
			width: 540px;
			height: 200px;
			background: #313131;
			color: #fff;
			float: left;
			&:nth-child(even) {
				background: #1c1c1c;
			}
			> a {
				display: block;
				height: 130px;
				padding-top: 70px;
				text-align: center;
				font-size: 18px;
				&:after {
					content: '';
					position: absolute;
					top: 164px;
					left: 50%;
					margin-left: -10px;
					@extend .pc_icon;
					@extend .pc_icon--arrow_bottom;
				}
			} 
		}
	}
	.pc-contents-news_frame {
		padding-bottom: 50px;
		background: #161616;
		> h3 {
			@extend .gradation_text;
			font-size: 18px;
			padding: 48px 0 48px 48px;
		}
		.pc-contents-news_frame-item {
			display: table;
			margin-bottom: 50px;
			.pc-contents-news_frame-item-date {
				width: 142px;
				display: table-cell;
				font-size: 14px;
				color: #fff;
				padding-left: 48px;
			}
			.pc-contents-news_frame-item-title {
				display: table-cell;
				font-size: 14px;
				color: #fff;
			}
		}
	}
	.pc-contents-notice_frame {
		padding-bottom: 50px;
		background: #1c1c1c;
		> h3 {
			@extend .gradation_text;
			font-size: 18px;
			padding: 48px 0 48px 48px;
		}
		.pc-contents-notice_frame-item {
			display: table;
			margin-bottom: 50px;
			.pc-contents-notice_frame-item-date {
				width: 142px;
				display: table-cell;
				font-size: 14px;
				color: #fff;
				padding-left: 48px;
			}
			.pc-contents-notice_frame-item-title {
				display: table-cell;
				font-size: 14px;
				color: #fff;
			}
		}
	}
	.pc-contents-submenu {
		@include clearfix;
		> li {
			position: relative;
			width: 270px;
			height: 200px;
			background: #313131;
			color: #fff;
			float: left;
			&:nth-child(even) {
				background: #1c1c1c;
			}
			> a {
				display: block;
				height: 130px;
				padding-top: 70px;
				text-align: center;
				font-size: 18px;
				&:after {
					content: '';
					position: absolute;
					top: 164px;
					left: 50%;
					margin-left: -10px;
					@extend .pc_icon;
					@extend .pc_icon--arrow_bottom;
				}
			} 
		}
	}
	.pc-contents-news {
		@include clearfix;
		.pc-contents-news-title {
			position: relative;
			width: 250px;
			height: 250px;
			background: #313131;
			float: left;
			.pc-contents-news-title-info {
				position: absolute;
				top: 50%;
				left: 50%;
				z-index: 1;
				margin-left: -62px;
				margin-top: -33px;
				.pc-contents-news-title-info-text {
					font-size: 18px;
					text-align: center;
				}
				.pc-contents-news-title-info-more {
					@extend .gradation_set;
					font-size: 14px;
				}
			}
		}
		.pc-contents-news-desc {
			width: 770px;
			height: 185px;
			padding: 65px 30px 0 30px;
			background: #1c1c1c;
			float: left;
			> li {
				margin-top: 44px;
				@include clearfix;
				&:first-child {
					margin-top: 0;
				}
				a {
					color: #fff;
					font-size: 14px;
					&:hover {
						color: #feea00;
					}	
					.pc-contents-news-desc-date {
						width: 170px;
						float: left;
						
						
					}
					.pc-contents-news-desc-text {
						width: 600px;
						float: left;
						line-height: 1.5;
					}	
				}
				
			}
			
		}
	}
	.pc-contents-tel_fax {
		background: #1c1c1c;
		padding: 50px 20px 0 50px;
		dt {
			font-size: 18px;
			padding-bottom: 24px;
			@extend .gradation_text;
		}
		dd {
			margin-top: 10px;
			font-size: 14px;
			color: #fff;
		}
	}
	.pc-contents-contact {
		background: #1c1c1c;
		padding: 40px 20px 80px 50px;
		dt {
			@extend .gradation_text;
			font-size: 18px;
		}
		dd {
			margin-top: 20px;
			> input[type="text"] {
				width: 100%;
				outline: none;
				padding: 10px;
				font-size: 13px;
				@include border-radius(4px);
			}
			> textarea {
				width: 100%;
				height: 235px;
				padding: 10px;
				resize: none;
				outline: none;
				@include border-radius(4px);
				font-size: 13px;
			}
			> button {
				width: 380px;
				padding: 24px 0;
				font-size: 14px;
				color: #161616;
				background: -webkit-linear-gradient(left, #ffea00, #baff00);
				background:    -moz-linear-gradient(right, #ffea00, #baff00);
				background:      -o-linear-gradient(right, #ffea00, #baff00);
				background:         linear-gradient(to right, #ffea00, #baff00);
				outline: none;
				border: 1px;
			}
			> span {
				display: block;
				font-size: 14px;
				color: red;
				margin-top: 4px;
			}
			&:first-of-type {
				margin-top: 40px;
			}
			&:last-of-type {
				text-align: center;
				margin-top: 50px;
			}
		}
	}
	.pc-contents-notice {
		@include clearfix;
		.pc-contents-notice-title {
			position: relative;
			width: 250px;
			height: 250px;
			background: #1c1c1c;
			float: left;
			.pc-contents-notice-title-info {
				position: absolute;
				top: 50%;
				left: 50%;
				z-index: 1;
				margin-left: -42px;
				margin-top: -33px;
				.pc-contents-notice-title-info-text {
					font-size: 18px;
					text-align: center;
				}
				.pc-contents-notice-title-info-more {
					@extend .gradation_set;
					font-size: 14px;
				}
			}
		}
		.pc-contents-notice-desc {
			width: 770px;
			height: 185px;
			padding: 65px 30px 0 30px;
			background: #313131;
			float: left;
			> li {
				margin-top: 44px;
				@include clearfix;
				&:first-child {
					margin-top: 0;
				}
				a {
					color: #fff;
					font-size: 14px;
					&:hover {
						color: #feea00;
					}	
					.pc-contents-notice-desc-date {
						width: 170px;
						float: left;
						
						
					}
					.pc-contents-notice-desc-text {
						width: 600px;
						float: left;
						
					}	
				}
				
			}
			
		}
	}
	.pc-contents-business {
		background: #161616;
		> h3 {
			@extend .gradation_text;
			font-size: 18px;
			padding: 56px 0 50px 56px;
		}
		.pc-contents-business-title {
			display: block;
			padding: 42px 0;
			.pc-contents-business-title-info {
				width: 120px;
				margin: 0 auto;
				.pc-contents-business-title-info-text {
					color: #fff;
					font-size: 18px;
				}
				.pc-contents-business-title-info-more {
					width: 100px;
					margin: 20px auto 0;
					@extend .gradation_set;
					font-size: 14px;
				}
			}	
		}
		.pc-contents-business-frame {
			display: table;
			width: 1080px;
			.pc-contents-business-frame-left {
				display: table-cell;
				width: 540px;
				vertical-align: middle;
				> h3 {
					padding-left: 56px;
					@extend .gradation_text;
					font-size: 18px;
				}
				.pc-contents-business-frame-left-desc {
					padding-left: 56px;
					dt {
						color: #fff;
						font-size: 15px;
					}
					dd {
						margin-top: 40px;
						color: #fff;
						font-size: 14px;
						line-height: 1.6;
					}
				}
				.pc-contents-business-frame-left-list {
					margin-top: 56px;
					padding-left: 50px;
					li {
						color: #fff;
						font-size: 14px;
						padding-bottom: 4px;
						&:before {
							content: '・'
						}
					}
				}
			}
			.pc-contents-business-frame-right {
				display: table-cell;
				width: 540px;
				vertical-align: middle;
				.pc-contents-business-frame-right-desc {
					padding-left: 56px;
					dt {
						color: #fff;
						font-size: 15px;
					}
					dd {
						margin-top: 40px;
						color: #fff;
						font-size: 14px;
						line-height: 1.6;
					}
				}
			}
		}
	}
	.pc-contents-menu {
		@include clearfix;
		> li {
			width: 360px;
			float: left;
			position: relative;
			> a {
				font-size: 16px;
				.pc-contents-menu-ses {
					position: absolute;
					top: 50%;
					left: 50%;
					z-index: 1;
					margin-top: -11px;
					margin-left: -32px;
					color: #fff;
				}
				.pc-contents-menu-entrusted {
					position: absolute;
					top: 50%;
					left: 50%;
					z-index: 1;
					margin-top: -11px;
					margin-left: -32px;
					color: #fff;
				}
				.pc-contents-menu-businesseapp {
					position: absolute;
					top: 50%;
					left: 50%;
					z-index: 1;
					margin-top: -11px;
					margin-left: -88px;
					color: #fff;
				}
				.pc-contents-menu-maintenance {
					position: absolute;
					top: 50%;
					left: 50%;
					z-index: 1;
					margin-top: -11px;
					margin-left: -120px;
					color: #fff;
					text-align: center;
				}
				.pc-contents-menu-consulting {
					position: absolute;
					top: 50%;
					left: 50%;
					z-index: 1;
					margin-top: -11px;
					margin-left: -80px;
					color: #fff;
				}
				.pc-contents-menu-smartapp {
					position: absolute;
					top: 50%;
					left: 50%;
					z-index: 1;
					margin-top: -11px;
					margin-left: -136px;
					color: #fff;
					text-align: center;
				}
			}
		}
	}
	.pc-contents-company_outline {
		padding: 50px 56px;
		background: #161616;
		> h3 {
			font-size: 18px;
			@extend .gradation_text;
		}
		.pc-contents-company_outline-box {
			display: table;
			color: #fff;
			margin-top: 50px;
			font-size: 14px;
			.pc-contents-company_outline-box-title {
				display: table-cell;
				width: 140px;
				vertical-align: top;
				text-align: left;
			}
			.pc-contents-company_outline-box-desc {
				display: table-cell;
				vertical-align: top;
				text-align: left;
			}
		}
	}
	.pc-contents-company_history {
		padding: 50px 56px;
		background: #1c1c1c;
		> h3 {
			@extend .gradation_text;
			font-size: 18px;
		}
		.pc-contents-company_history-box {
			display: table;
			color: #fff;
			margin-top: 50px;
			font-size: 14px;
			.pc-contents-company_history-box-title {
				display: table-cell;
				width: 140px;
				vertical-align: top;
				text-align: left;
			}
			.pc-contents-company_history-box-desc {
				display: table-cell;
				vertical-align: top;
				text-align: left;
			}

		}
	}
	.pc-contents-company_access {
		padding-top: 50px;
		.pc-contents-company_philosophy-access-desc {
			> h3 {
				padding-left: 58px;
				@extend .gradation_text;
				font-size: 18px;
			}
			.pc-contents-company_philosophy-access-desc-text {
				padding-left: 58px;
				margin-top: 50px;
				font-size: 14px;
				color: #fff;
			}
		}
		.pc-contents-company_philosophy-access-map {
			margin-top: 55px;
		}
	}
	.pc-contents-company_philosophy {
		display: table;
		background: #313131;
		.pc-contents-company_philosophy-desc {
			display: table-cell;
			width: 624px;
			padding: 50px 0 0 56px;
			vertical-align: top;
			text-align: left;
			> h3 {
				@extend .gradation_text;
				font-size: 18px;
			}
			.pc-contents-company_philosophy-desc-text {
				margin-top: 50px;
				color: #fff;
				line-height: 2.4;
				font-size: 14px;
			}
		}
		.pc-contents-company_philosophy-img {
			display: table-cell;
			width: 400px;
			vertical-align: top;
			text-align: left;
		}
	}
	.pc-contents-recruit {
		padding: 56px 50px 78px;
		background: #1c1c1c;
		> h3 {
			@extend .gradation_text;
			font-size: 18px;
		}
		table {
			margin-top: 46px;
			border: 1px solid #fff;
			tr {
				td {
					border: 1px solid #fff;
					font-size: 14px;
					color: #fff;
					&.pc-contents-recruit-title {
						width: 196px;
						text-align: center;
						vertical-align: middle;
					}
					&.pc-contents-recruit-desc {
						width: 780px;
						padding: 30px 20px;
						.pc-contents-recruit-desc-list {
							li {
								padding-bottom: 4px;
								&:before {
									content: '・'
								}
								&:last-child{
									padding-bottom: 0;
								}
							}
						}
						.pc-contents-recruit-desc-app {
							dt {
								margin-top: 10px;
								padding-bottom: 30px;
							}
							dd {
								padding-bottom: 4px;
								&:before {
									content: '・'
								}
								&:last-child{
									padding-bottom: 0;
								}
							}
						}
						.pc-contents-recruit-desc-server {
							dt {
								margin-top: 60px;
								padding-bottom: 30px;
							}
							dd {
								padding-bottom: 4px;
								&:before {
									content: '・'
								}
								&:last-child{
									padding-bottom: 0;
								}
							}
						}
						.pc-contents-recruit-desc-network {
							dt {
								margin-top: 60px;
								padding-bottom: 30px;
							}
							dd {
								padding-bottom: 4px;
								&:before {
									content: '・'
								}
								&:last-child{
									padding-bottom: 0;
								}
							}
						}
						.pc-contents-recruit-desc-deliverable {
							dt {
								margin-top: 60px;
								padding-bottom: 30px;
							}
							dd {
								padding-bottom: 4px;
								&:before {
									content: '・'
								}
								&:last-child{
									padding-bottom: 0;
								}
							}
						}
						.pc-contents-recruit-desc-flow {
							dt {
								margin-top: 60px;
								padding-bottom: 30px;
							}
							dd {
								padding-bottom: 4px;
								&:before {
									content: '・'
								}
								&:last-child{
									padding-bottom: 0;
								}
							}
						}
						.pc-contents-recruit-desc-other {
							dt {
								margin-top: 60px;
								padding-bottom: 30px;
							}
							dd {
								padding-bottom: 4px;
								&:before {
									content: '・'
								}
								&:last-child{
									padding-bottom: 0;
								}
							}
						}
						.pc-contents-recruit-desc-method {
							dt {
								margin-top: 60px;
								padding-bottom: 30px;
							}
							dd {
								padding-bottom: 4px;
								&:before {
									content: '・'
								}
								&:last-child{
									padding-bottom: 0;
								}
							}
						}
					}
				}
			}
		}
	}
	.pc-contents-footer {
		padding: 30px 20px;
		background: #161616;
		@include clearfix;
		.pc-contents-footer-list {
			@include clearfix;
			float: left;
			> li {
				position: relative;
				float: left;
				a {
					margin: 0 15px 0 20px;
					color: #fff;
					&:hover {
						color: #feea00;
					}
				}
				&:after {
					content: '|';
					position: absolute;
					top: 8px;
					margin-top: -9px;
					color: #fff;
				}
				&:last-child {
					margin-right: 0;
					&:after {
						content: '';
					}	
				}
			}
		}
		> h2 {
			float: right;
			color: #fff;
		}
	}
}


.test2 {
	width: 200px;
	float: left;
}
.test4 {
	@include border-radius(8px);

}
.test5 {
	@include ellipsis;
	width: 200px;
}

.greate-compass {
	@include border-radius(3px);
	@include box-shadow;
	@include box-sizing(border-box);
	@include opacity(.8);
	@include text-shadow;
	@include transform(scale(30,20));
	@include transition;
}
