<html lang="ja">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112590294-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-112590294-1');
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" id="js-viewport">
<title>ビットエージェント｜BITAGENT(ビット)</title>
<meta name="keywords" content="フリーランス,個人事業主,フリーエンジニア,デザイナー,求人・案件,ビットエージェント,BITAGENT,ビット">
<meta name="description" content="IT・Web業界のフリーランスエンジニア向け求人・案件募集情報サイトです。">
<link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="canonical" href="http://bit-agent.co.jp">
<meta property="og:title" content="ビットエージェント">
<meta property="og:description" content="アプリケーション開発,コンサルティング事業">
<meta property="og:site_name" content="ビットエージェント">
<meta property="og:type" content="article">
<meta property="og:locale" content="ja_JP">
<meta property="og:url" content="http://bit-agent.co.jp/">
<meta property="og:image" content="http://bit-agent.co.jp/img/ogimage.jpg">
<link rel="stylesheet" href="/css/all.min.css" media="screen">
<script src="/js/all.min.js?20180201"></script>
</head>
<body>
<script id="contact" type="text/x-handlebars-template">
	<div class="modal js-modal_menu">
		<div class="modal-top js-modal-top">
			<a href="javascript:void(0)" class="modal-top-close js-modal_close"></a>
			<p class="modal-top-logo">{{title2}}</p>
			<p class="modal-top-img"></p>
		</div>
		<ul class="modal-menu js-modal-menu">
			<li><a href="/company/">{{menulist.menu1}}</a></li>
			<li><a href="/business/">{{menulist.menu2}}</a></li>
			<li><a href="/recruit/">{{menulist.menu3}}</a></li>
			<li class="js-is_korean"><a href="/support/">현지서포트</a></li>
			<li><a href="/contact/" class="modal-menu-info {{menuInfoIcon}}">{{menulist.menu4}}</a></li>
			<li>
				<div class="modal-menu-language">
					<a href="javascript:void(0)" class="modal-menu-language-jp js-lang_jp">JP</a>
					<a href="javascript:void(0)" class="modal-menu-language-kr js-lang_kr">KR</a>
				</div>
			</li>
		</ul>
	</div>
	<div class="header js-header">
		<h1><a href="/"><img src="/img/top/sp/{{header_logo}}" width="" height="" alt="{{title}}"></a></h1>
		<a href="javascript:void(0)" class="header-menu_bt js-menu_bt"></a>
	</div>
	<div class="contents js-contents">
		<div class="contents-main">
			<img src="/img/contact/sp/top.png" width="100%" alt="BIT AGENT">
			<h3 class="contents-main-contact {{contact.titleCss}}">{{contact.title}}</h3>
		</div>
		<div class="contents-tel_fax">
			<dt>{{contact.text1}}</dt>
			<dd>{{contact.text2}}</dd>
			<dd>{{contact.text3}}</dd>
			<dd>{{contact.text_add_2}}</dd>
			<dd>{{contact.text_add_3}}</dd>
		</div>
		<form class="js-form_info" action="email_proc.php" method="post">
			<dl class="contents-contact">
				<dt>{{contact.text4}}<br />{{contact.text4_1}}</dt>
				<dd>
					<input class="js-form_name" type="text" name="name" placeholder="{{contact.text5}}"/>
					<span class="js-error_name is-hidden">{{contact.text5}}</span>
				</dd>
				<dd>
					<input class="js-form_email" type="text" name="email" placeholder="{{contact.text6}}"/>
					<span class="js-error_email is-hidden">{{contact.text6}}</span>
					<span class="js-error_email-reg is-hidden">{{contact.text6_1}}</span>
				</dd>
				<dd>
					<input class="js-form_title" type="text" name="title" placeholder="{{contact.text7}}"/>
					<span class="js-error_title is-hidden">{{contact.text7}}</span>
				</dd>
				<dd>
					<textarea class="js-form_message" name="message" placeholder="{{contact.text8}}"></textarea>
					<span class="js-error_message is-hidden">{{contact.text8}}</span>
				</dd>
				<dd>
					<button onclick="return validate()">{{contact.submit}}</button>
				</dd>
			</dl>
		</form>
	</div>
	<div class="footer js-footer">
		<ul class="footer-list">
			<li><a href="/policy/">{{footerList.menu1}}</a></li>
			<li><a href="/security/">{{footerList.menu2}}</a></li>
			<li><a href="/partner/">{{footerList.menu3}}</a></li>
		</ul>
		<h2>&copy;bit-agent 2018 All right reserved.</h2>
	</div>
	<div class="pc-layout">
		<ul class="pc-menu">
			<li><a href="/" class="pc-menu-logo">{{title}}</a></li>
			<li><a href="/company/">{{menulist.menu1}}</a></li>
			<li><a href="/business/">{{menulist.menu2}}</a></li>
			<li><a href="/recruit/">{{menulist.menu3}}</a></li>
			<li class="js-is_korean"><a href="/support/">현지서포트</a></li>
			<li><p class="pc-menu-info is-active">{{menulist.menu4}}</p></li>
			<li>
				<div class="pc-menu-language">
					<a href="javascript:void(0)" class="pc-menu-language-jp js-lang_jp">JP</a>
					<a href="javascript:void(0)" class="pc-menu-language-kr js-lang_kr">KR</a>
				</div>
			</li>
		</ul>
		<div class="pc-contents">
			<div class="pc-contents-main">
				<p class="pc-contents-main-title pc-contents-main-title--contact">{{contact.title}}</p>
				<p class="pc-contents-main-img"><img src="/img/contact/pc/top.png" width="1080" height="350" alt="会社情報"></p>
			</div>
			<div class="pc-contents-tel_fax">
				<dt>{{contact.text1}}</dt>
				<dd>{{contact.text2}}</dd>
				<dd>{{contact.text3}}</dd>
				<dd>{{contact.text_add_2}}</dd>
				<dd>{{contact.text_add_3}}</dd>
			</div>
			<form class="js-pc-form_info" action="email_proc.php" method="post">
				<dl class="pc-contents-contact">
					<dt>{{contact.text4}}<br />{{contact.text4_1}}</dt>
					<dd>
						<input class="js-pc-form_name" type="text" name="name" placeholder="{{contact.text5}}"/>
						<span class="js-pc-error_name is-hidden">{{contact.text5}}</span>
					</dd>
					<dd>
						<input class="js-pc-form_email" type="text" name="email" placeholder="{{contact.text6}}"/>
						<span class="js-pc-error_email is-hidden">{{contact.text6}}</span>
						<span class="js-pc-error_email-reg is-hidden">{{contact.text6_1}}</span>
					</dd>
					<dd>
						<input class="js-pc-form_title" type="text" name="title" placeholder="{{contact.text7}}"/>
						<span class="js-pc-error_title is-hidden">{{contact.text7}}</span>
					</dd>
					<dd>
						<textarea class="js-pc-form_message" name="message" placeholder="{{contact.text8}}"></textarea>
						<span class="js-pc-error_message is-hidden">{{contact.text8}}</span>
					</dd>
					<dd>
						<button onclick="return validatePc()">{{contact.submit}}</button>
					</dd>
				</dl>
			</form>
			<div class="pc-contents-footer">
				<ul class="pc-contents-footer-list">
					<li><a href="/policy/">{{footerList.menu1}}</a></li>
					<li><a href="/security/">{{footerList.menu2}}</a></li>
					<li><a href="/partner/">{{footerList.menu3}}</a></li>
				</ul>
				<h2>&copy;bit-agent 2018 All right reserved.</h2>
			</div>
		</div>
	</div>

</script>
<div id="output"></div>
<script>
var template = Handlebars.compile($('#contact').html());
</script>
</body>
</html>
