<html lang="ja">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112590294-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-112590294-1');
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" id="js-viewport">
<title>ビットエージェント｜BITAGENT(ビット)</title>
<meta name="keywords" content="フリーランス,個人事業主,フリーエンジニア,デザイナー,求人・案件,ビットエージェント,BITAGENT,ビット">
<meta name="description" content="IT・Web業界のフリーランスエンジニア向け求人・案件募集情報サイトです。">
<link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="canonical" href="http://suumo.jp/edit/suumo-heya/">
<meta property="og:title" content="ビットエージェント">
<meta property="og:description" content="アプリケーション開発,コンサルティング事業">
<meta property="og:site_name" content="ビットエージェント">
<meta property="og:type" content="article">
<meta property="og:locale" content="ja_JP">
<meta property="og:url" content="http://bit-agent.co.jp/">
<meta property="og:image" content="http://bit-agent.co.jp/img/ogimage.jpg">
<link rel="stylesheet" href="/css/all.min.css" media="screen">
<script src="/js/all.min.js?20180412"></script>
</head>
<body>
<script id="support" type="text/x-handlebars-template">
	<div class="modal js-modal_menu">
		<div class="modal-top js-modal-top">
			<a href="javascript:void(0)" class="modal-top-close js-modal_close"></a>
			<p class="modal-top-logo">{{title2}}</p>
			<p class="modal-top-img"></p>
		</div>
		<ul class="modal-menu js-modal-menu">
			<li><a href="/company/">{{menulist.menu1}}</a></li>
			<li><a href="/business/">{{menulist.menu2}}</a></li>
			<li><a href="/recruit/">{{menulist.menu3}}</a></li>
			<li class="js-is_korean"><a href="/support/">현지서포트</a></li>
			<li><a href="/contact/" class="modal-menu-info {{menuInfoIcon}}">{{menulist.menu4}}</a></li>
			<li>
				<div class="modal-menu-language">
					<a href="javascript:void(0)" class="modal-menu-language-jp js-lang_jp">JP</a>
					<a href="javascript:void(0)" class="modal-menu-language-kr js-lang_kr">KR</a>
				</div>
			</li>
		</ul>
	</div>
	<a href="#" class="page_top js-page_top"><img src="/img/common/sp/page_top.png" width="50" height="50" /></a>
	<div class="header js-header">
		<h1><a href="/"><img src="/img/top/sp/{{header_logo}}" width="" height="" alt="{{title}}"></a></h1>
		<a href="javascript:void(0)" class="header-menu_bt js-menu_bt"></a>
	</div>
	<div class="contents js-contents">
		<div class="contents-main">
			<img src="/img/support/sp/kr_01_sp.png" width="100%" alt="주식회사 BIT">
			<h3 class="contents-main-support">주식회사 BIT</h3>
		</div>
		<ul class="contents-support">
			<li>
				<h3>BIT의 창업 이념<span>BIT Philosophy</span></h3>
				<ul class="contents-support-item">
					<li class="contents-support-item-left">
						<ul class="contents-support-item-left-list">
							<li>
								<img src="/img/support/sp/kr_02_sp.png" width="100%">
							</li>
							<li>
								<dl>
									<dt>차별없는 처우</dt>
									<dd>
										한국인(외국인) 개발자와 일본
										인 개발자 간의 처우 차별 문제
										존재(급여, 복지 등)
									</dd>
									<dd>
										우리 BIT와 함께라면 국적이
										차별이 되지 않는 근무환경 제
										공을 약속합니다.
									</dd>
								</dl>
							</li>
						</ul>
					</li>
					<li class="contents-support-item-right">
						<ul class="contents-support-item-right-list">
							<li>
								<img src="/img/support/sp/kr_03_sp.png" width="100%">
							</li>
							<li>
								<dl>
									<dt>새로운 환경 적응</dt>
									<dd>
										해외 근무는 일 뿐만 아니라 문
										화, 생활, 언어까지 적응에 많
										은 시간과 노력이 필요
									</dd>
									<dd>
										우리 BIT와 함께라면 국적이
										차별이 되지 않는 근무환경 제
										공을 약속합니다.
									</dd>
								</dl>
							</li>
						</ul>
					</li>
				</ul>
				<ul class="contents-support-item">
					<li class="contents-support-item-left">
						<ul class="contents-support-item-left-list">
							<li>
								<img src="/img/support/sp/kr_04_sp.png" width="100%">
							</li>
							<li>
								<dl>
									<dt>양질의 일자리 제공</dt>
									<dd>
										개발자의 대우가 우수한 일본의 
										IT산업 가운데도 열악한 기업이 
										존재.
									</dd>
									<dd>
										우리 BIT와 함께라면 10년간의 
										search firm 노하우를 바탕으
										로 양직의 일자리 제공을 약속
										합니다.
									</dd>
								</dl>
							</li>
						</ul>
					</li>
					<li class="contents-support-item-right">
						<ul class="contents-support-item-right-list">
							<li>
								<img src="/img/support/sp/kr_05_sp.png" width="100%">
							</li>
							<li>
								<dl>
									<dt>노사 갈등 대리</dt>
									<dd>
										직장생활 가운데는 회사와의 
										다양한 노사 분쟁이 발생 (근로
										조건, 부당 대우 등)
									</dd>
									<dd>
										우리 BIT와 함께라면 기업간의 
										대화를 통해 분쟁을 처리, 걱정
										없는 환경 제공을 약속합니다.
									</dd>
								</dl>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
		<ul class="contents-support_1">
			<li>
				<h3>BIT의 조직도<span>BIT Organization chart</span></h3>
				<div class="contents-support_1-img">
					<img src="/img/support/sp/kr_06_sp.png" width="100%">
				</div>
			</li>
		</ul>
		<ul class="contents-support_2">
			<li>
				<h3>일본 IT 취업의 장점과 단점</h3>
				<div class="contents-support_2-img">
					<img src="/img/support/sp/kr_07_sp.png" width="100%">
				</div>
				<ul class="contents-support_2-item">
					<li class="contents-support_2-item-left">
						<ul class="contents-support_2-item-left-list">
							<li>
								<dl>
									<dt>장점</dt>
									<dd>1. 높은 급여, 프로그래머(개발자)에 대한 높은 대우</dd>
									<dd>2. 합리적인 근무시간, 잔업이 없고 수당이 확실함</dd>
									<dd>3. 자율적 근무환경, 수평적 커뮤니케이션 지향</dd>
									<dd>4. 경력 관리, 다양하고 선진화된 IT 기술력 경험</dd>
								</dl>
							</li>
						</ul>
					</li>
					<li class="contents-support_2-item-right">
						<ul class="contents-support_2-item-right-list">
							<li>
								<dl>
									<dt>단점</dt>
									<dd>1. 초기 정착, 기본적인 의식주 중 주거의 문제</dd>
									<dd>2. 현지 생활 적응, 낯선 문화, 언어적 한계와 외로움</dd>
									<dd>3. 한국과 다른 기업 문화, 성향 차이에서 오는 어려움</dd>
									<dd>4. 부족한 업계 정보, 부족한 기업 정보와 낯선 업계 동향</dd>
									<dd>5. 차별 대우, 일본인 개발자와 차별된 급여 및 복지</dd>
								</dl>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
		<ul class="contents-support_3">
			<li>
				<h3>BIT의 역할<span>BIT System</span></h3>
				<ul class="contents-support_3-list">
					<li>
						<p><span>A</span>초기 정착 비용 대출</p>
						<dl>
							<dt>초기 생활 안정을 목적으로 무이자 대출 지원(20만엔 한도)</dt>
							<dd>* 초기 임대 보증금, 생활비 등</dd>
							<dd>* 급여에서 3개월 분할 상환</dd>
						</dl>
					</li>
					<li>
						<p><span>B</span>기숙사 제공</p>
						<dl>
							<dt>입사 후 2개월내 저렴한 비용으로 회사 기숙사 이용 가능</dt>
							<dd>* 기숙사는 주거 확보 시까지 편의를 위함</dd>
						</dl>
					</li>
					<li>
						<p><span>C</span>인사 담당자 상시 대화</p>
						<dl>
							<dt>낯선 일본 기업 문화를 인사 담당자와 상시 대화를 통해 공유하고 적응을 지원</dt>
						</dl>
					</li>
					<li>
						<p><span>D</span>멘토링 제도</p>
						<dl>
							<dt>현지 생활 적응을 최대한 돕기 위해 정착 선배들과 멘토링 제도 운영</dt>
							<dd>* 다양한 한인 커뮤니티 소개</dd>
							<dd>* 퇴근 후 멘토-멘티 간 적응 프로그램 운영</dd>
						</dl>
					</li>
					<li>
						<p><span>E</span>IT 업계 정보 및 기술 교류</p>
						<dl>
							<dt>10년의 정보력과 노하우로 최상의 Search Firm 제공 정기적인 IT기술 공유 모임</dt>
						</dl>
					</li>
					<li>
						<p><span>F</span>차별 대우 및 노사 분쟁 지원</p>
						<dl>
							<dt>BIT는 일본 법인회사로서 기업간의 계약을 통해 우리 개발자를 파견하는 형식이므로, </dt>
							<dd>* 일본인 개발자와 차별 없는 대우를 약속</dd>
							<dd>* 노사 분쟁 시 BIT 대 기업간의 조정</dd>
						</dl>
					</li>
				</ul>
			</li>
		</ul>
		<ul class="contents-support_4">
			<li>
				<h3>BIT 채용절차<span>BIT Recruit procedure</span></h3>
				<div class="contents-support_4-img">
					<img src="/img/support/sp/su_1.png" width="100%" />
				</div>
			</li>
		</ul>
		<ul class="contents-support_5">
			<li>
				<h3>BIT 채용절차<span>BIT Recruit procedure</span></h3>
				<div class="contents-support_5-img">
					<img src="/img/support/sp/su_2.png" width="100%" />
				</div>
			</li>
		</ul>
		<ul class="contents-support_6">
			<li>
				<h3>주요 Partner 社</h3>
				<dl>
					<dt>일반 COMPANY</dt>
					<dd>
						리쿠르트, 사이버에이전트, NTT, NEC, 도코모, 소프트뱅크, 라쿠텐, 자파라스, 이파크 등
					</dd>
				</dl>
				<dl>
					<dt>Game COMPANY</dt>
					<dd>
						싸이게임즈, 모바게, 그리, 마이넷, 마이티게임즈 등
					</dd>
				</dl>
			</li>
		</ul>
		<ul class="contents-support_7">
			<li>
				<h3>Programmer 모집 분야</h3>
				<dl>
					<dt>Developer</dt>
					<dd>
						WEB, IOS, ANDROID 개발자, 의료계, 공장계, 자동차계 개발자
					</dd>
				</dl>
				<dl>
					<dt>Managment</dt>
					<dd>
						프로젝트 매니저, 게임플래너, 인프라(서버,네트워크) 관리자, 아트 매니저
					</dd>
				</dl>
				<dl>
					<dt>Illust. designer</dt>
					<dd>
						게임 일러스트 디자이너
					</dd>
				</dl>
			</li>
		</ul>
	</div>
	<div class="footer js-footer">
		<ul class="footer-list">
			<li><a href="/policy/">{{footerList.menu1}}</a></li>
			<li><a href="/security/">{{footerList.menu2}}</a></li>
			<li><a href="/partner/">{{footerList.menu3}}</a></li>
		</ul>
		<h2>&copy;bit-agent 2017 All right reserved.</h2>
	</div>
	<div class="pc-layout">
		<a href="#" class="pc-page_top js-pc-page_top"><img src="/img/common/pc/page_top.png" width="50" height="50" /></a>
		<ul class="pc-menu">
			<li><a href="/" class="pc-menu-logo">{{title}}</a></li>
			<li><a href="/company/">{{menulist.menu1}}</a></li>
			<li><a href="/business/">{{menulist.menu2}}</a></li>
			<li><a href="/recruit/">{{menulist.menu3}}</a></li>
			<li class="js-is_korean"><p class="is-active">현지서포트</p></li>
			<li><a href="/contact/" class="pc-menu-info">{{menulist.menu4}}</a></li>
			<li>
				<div class="pc-menu-language">
					<a href="javascript:void(0)" class="pc-menu-language-jp js-lang_jp">JP</a>
					<a href="javascript:void(0)" class="pc-menu-language-kr js-lang_kr">KR</a>
				</div>
			</li>
		</ul>
		<div class="pc-contents">
			<div class="pc-contents-main">
				<p class="pc-contents-main-title pc-contents-main-title--support">주식회사 BIT</p>
				<p class="pc-contents-main-img"><img src="/img/support/pc/kr_01.png" width="1080" height="350" alt="주식회사 BIT"></p>
			</div>
			<ul class="pc-contents-list">
				<li>
					<h3>BIT의 창업 이념<span>BIT Philosophy</span></h3>
					<ul class="pc-contents-list-frame">
						<li>
							<ul class="pc-contents-list-frame-items">
								<li class="pc-contents-list-frame-items-img_1"></li>
								<li class="pc-contents-list-frame-items-title">차별없는 처우</li>
								<li class="pc-contents-list-frame-items-desc">
									한국인(외국인) 개발자와 일본인 개발자 간의 처우 차별 문제 존재(급여, 복지 등).<br /><br />
									우리 BIT와 함께라면 국적이 차별이 되지 않는 근무환경 제공을 약속합니다.
								</li>
							</ul>
						</li>
						<li>
							<ul class="pc-contents-list-frame-items">
								<li class="pc-contents-list-frame-items-img_2"></li>
								<li class="pc-contents-list-frame-items-title">새로운 환경 적응</li>
								<li class="pc-contents-list-frame-items-desc">
									해외 근무는 일 뿐만 아니라 문화, 생활, 언어까지 적응에 많은 시간과 노력이 필요.<br /><br />
									우리 BIT와 함께라면 새로운 환경 적응을 위한 다양한 프로그램 제공을 약속합니다.
								</li>
							</ul>
						</li>
						<li>
							<ul class="pc-contents-list-frame-items">
								<li class="pc-contents-list-frame-items-img_3"></li>
								<li class="pc-contents-list-frame-items-title">양질의 일자리 제공</li>
								<li class="pc-contents-list-frame-items-desc">
									개발자의 대우가 우수한 일본의 IT산업 가운데도 열악한 기업이 존재.<br /><br />
									우리 BIT와 함께라면 10년간의 search firm 노하우를 바탕으로 양직의 일자리 제공을 약속합니다.
								</li>
							</ul>
						</li>
						<li>
							<ul class="pc-contents-list-frame-items">
								<li class="pc-contents-list-frame-items-img_4"></li>
								<li class="pc-contents-list-frame-items-title">노사 갈등 대리</li>
								<li class="pc-contents-list-frame-items-desc">
									직장생활 가운데는 회사와의 다양한 노사 분쟁이 발생(근로 조건, 부당 대우 등).<br /><br />
									우리 BIT와 함께라면 기업간의 대화를 통해 분쟁을 처리,걱정없는 환경 제공을 약속합니다.
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					<h3>BIT의 조직도<span>BIT Organization chart</span></h3>
					<div class="pc-contents-list-organization"></div>
				</li>
				<li>
					<h3>일본 IT 취업의 장점과 단점</h3>
					<div class="pc-contents-list-proscons_img"></div>
					<ul class="pc-contents-list-proscons">
						<li>
							<dl>
								<dt>장점</dt>
								<dd>1. 높은 급여, 프로그래머(개발자)에 대한 높은 대우</dd>
								<dd>2. 합리적인 근무시간, 잔업이 없고 수당이 확실함</dd>
								<dd>3. 자율적 근무환경, 수평적 커뮤니케이션 지향</dd>
								<dd>4. 경력 관리, 다양하고 선진화된 IT 기술력 경험</dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt>단점</dt>
								<dd>1. 초기 정착, 기본적인 의식주 중 주거의 문제</dd>
								<dd>2. 현지 생활 적응, 낯선 문화, 언어적 한계와 외로움</dd>
								<dd>3. 한국과 다른 기업 문화, 성향 차이에서 오는 어려움</dd>
								<dd>4. 부족한 업계 정보, 부족한 기업 정보와 낯선 업계 동향</dd>
								<dd>5. 차별 대우, 일본인 개발자와 차별된 급여 및 복지</dd>
							</dl>
						</li>
					</ul>
				</li>
				<li>
					<h3>BIT의 역할<span>BIT System</span></h3>
					<ul class="pc-contents-list-system">
						<li>
							<div class="pc-contents-list-system-frame">
								<div class="pc-contents-list-system-frame-left">
									<span>A</span>초기 정착 비용 대출
								</div>
								<div class="pc-contents-list-system-frame-right">
									<dl>
										<dt>초기 생활 안정을 목적으로 무이자 대출 지원(20만엔 한도)</dt>
										<dd>* 초기 임대 보증금, 생활비 등</dd>
										<dd>* 급여에서 3개월 분할 상환</dd>
									</dl>
								</div>
							</div>
						</li>
						<li>
							<div class="pc-contents-list-system-frame">
								<div class="pc-contents-list-system-frame-left">
									<span>B</span>기숙사 제공
								</div>
								<div class="pc-contents-list-system-frame-right">
									<dl>
										<dt>입사 후 2개월내 저렴한 비용으로 회사 기숙사 이용 가능</dt>
										<dd>* 기숙사는 주거 확보 시까지 편의를 위함</dd>
									</dl>
								</div>
							</div>
						</li>
						<li>
							<div class="pc-contents-list-system-frame">
								<div class="pc-contents-list-system-frame-left">
									<span>C</span>인사 담당자 상시 대화
								</div>
								<div class="pc-contents-list-system-frame-right">
									낯선 일본 기업 문화를 인사 담당자와 상시 대화를 통해 공유하고 적응을 지원
								</div>
							</div>
						</li>
						<li>
							<div class="pc-contents-list-system-frame">
								<div class="pc-contents-list-system-frame-left">
									<span>D</span>멘토링 제도
								</div>
								<div class="pc-contents-list-system-frame-right">
									<dl>
										<dt>현지 생활 적응을 최대한 돕기 위해 정착 선배들과 멘토링 제도 운영</dt>
										<dd>* 다양한 한인 커뮤니티 소개</dd>
										<dd>* 퇴근 후 멘토-멘티 간 적응 프로그램 운영</dd>
									</dl>
								</div>
							</div>
						</li>
						<li>
							<div class="pc-contents-list-system-frame">
								<div class="pc-contents-list-system-frame-left">
									<span>E</span>IT 업계 정보 및 기술 교류
								</div>
								<div class="pc-contents-list-system-frame-right">
									10년의 정보력과 노하우로 최상의 Search Firm 제공 정기적인 IT기술 공유 모임
								</div>
							</div>
						</li>
						<li>
							<div class="pc-contents-list-system-frame">
								<div class="pc-contents-list-system-frame-left">
									<span>F</span>차별 대우 및 노사 분쟁 지원
								</div>
								<div class="pc-contents-list-system-frame-right">
									<dl>
										<dt>BIT는 일본 법인회사로서 기업간의 계약을 통해 우리 개발자를 파견하는 형식이므로,</dt>
										<dd>-일본인 개발자와 차별 없는 대우를 약속</dd>
										<dd>-노사 분쟁 시 BIT 대 기업간의 조정 </dd>
									</dl>
								</div>
							</div>
						</li>
					</ul>
				</li>
				<li>
					<h3>BIT 채용절차<span>BIT Recruit procedure</span></h3>
					<div class="pc-contents-list-recruit"></div>
				</li>
				<li>
					<h3>BIT 근무 과정<span>BIT Search firm & assignment procedure</span></h3>
					<div class="pc-contents-list-procedure"></div>
				</li>
			</ul>
			<ul class="pc-contents-bottom">
				<li class="pc-contents-bottom-left">
					<p>주요 Partner 社</p>
					<dl>
						<dt>일반 COMPANY</dt>
						<dd>리쿠르트, 사이버에이전트, NTT<br />
							NEC, 도코모, 소프트뱅크, 라쿠텐<br />
							자파라스, 이파크 등
						</dd>
					</dl>
					<dl>
						<dt>Game COMPANY</dt>
						<dd>
							싸이게임즈, 모바게, 그리, 마이넷<br />
							마이티게임즈 등
						</dd>
					</dl>
				</li>
				<li class="pc-contents-bottom-right">
					<p>Programmer 모집 분야</p>
					<dl>
						<dt>Developer</dt>
						<dd>
							WEB, IOS, ANDROID 개발자<br />
							의료계, 공장계, 자동차계 개발자
						</dd>
					</dl>
					<dl>
						<dt>Managment</dt>
						<dd>
							프로젝트 매니저, 게임플래너<br />
							인프라(서버,네트워크) 관리자<br />
							아트 매니저
						</dd>
					</dl>
					<dl>
						<dt>Illust. designer</dt>
						<dd>게임 일러스트 디자이너</dd>
					</dl>
				</li>
			</ul>
			<div class="pc-contents-footer">
				<ul class="pc-contents-footer-list">
					<li><a href="/policy/">{{footerList.menu1}}</a></li>
					<li><a href="/security/">{{footerList.menu2}}</a></li>
					<li><a href="/partner/">{{footerList.menu3}}</a></li>
				</ul>
				<h2>&copy;bit-agent 2018 All right reserved.</h2>
			</div>
		</div>
	</div>
</script>
<div id="output"></div>
<script>
var template = Handlebars.compile($('#support').html());
</script>
</body>
</html>