<html lang="ja">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112590294-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-112590294-1');
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" id="js-viewport">
<title>ビットエージェント｜BITAGENT(ビット)</title>
<meta name="keywords" content="フリーランス,個人事業主,フリーエンジニア,デザイナー,求人・案件,ビットエージェント,BITAGENT,ビット">
<meta name="description" content="IT・Web業界のフリーランスエンジニア向け求人・案件募集情報サイトです。">
<link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="canonical" href="http://bit-agent.co.jp">
<meta property="og:title" content="ビットエージェント">
<meta property="og:description" content="アプリケーション開発,コンサルティング事業">
<meta property="og:site_name" content="ビットエージェント">
<meta property="og:type" content="article">
<meta property="og:locale" content="ja_JP">
<meta property="og:url" content="http://bit-agent.co.jp/">
<meta property="og:image" content="http://bit-agent.co.jp/img/ogimage.jpg">
<link rel="stylesheet" href="/css/all.min.css" media="screen">
<script src="/js/all.min.js?20180412"></script>
</head>
<body>
<script id="business" type="text/x-handlebars-template">
	<div class="modal js-modal_menu">
		<div class="modal-top js-modal-top">
			<a href="javascript:void(0)" class="modal-top-close js-modal_close"></a>
			<p class="modal-top-logo">{{title2}}</p>
			<p class="modal-top-img"></p>
		</div>
		<ul class="modal-menu js-modal-menu">
			<li><a href="/company/">{{menulist.menu1}}</a></li>
			<li><a href="/business/">{{menulist.menu2}}</a></li>
			<li><a href="/recruit/">{{menulist.menu3}}</a></li>
			<li class="js-is_korean"><a href="/support/">현지서포트</a></li>
			<li><a href="/contact/" class="modal-menu-info {{menuInfoIcon}}">{{menulist.menu4}}</a></li>
			<li>
				<div class="modal-menu-language">
					<a href="javascript:void(0)" class="modal-menu-language-jp js-lang_jp">JP</a>
					<a href="javascript:void(0)" class="modal-menu-language-kr js-lang_kr">KR</a>
				</div>
			</li>
		</ul>
	</div>
	<a href="#" class="page_top js-page_top"><img src="/img/common/sp/page_top.png" width="50" height="50" /></a>
	<div class="header js-header">
		<h1><a href="/"><img src="/img/top/sp/{{header_logo}}" width="" height="" alt="{{title}}"></a></h1>
		<a href="javascript:void(0)" class="header-menu_bt js-menu_bt"></a>
	</div>
	<div class="contents js-contents">
		<div class="contents-main">
			<img src="/img/business/sp/top.png" width="100%" alt="{{business.title}}">
			<h3 class="contents-main-business">{{business.title}}</h3>
		</div>
		<ul class="contents-business_menu">
			<li><a href="#business_info" id="js-business_info">{{business.text1}}</a></li>
			<li><a href="#business_performance" id="js-business_performance">{{business.text2}}</a></li>
		</ul>
		<div id="ses-desc" class="contents-business">
			<h3 id="js-business_info-desc">{{business.text1}}</h3>
			<dl class="contents-business-ses">
				<dt>{{business.text3}}</dt>
				<dd>{{business.text4}}</dd>
				<dd id="entrusted-desc"><img src="/img/business/sp/business_img01_sp.png" width="100%" alt="{{business.text3}}"/></dd>
			</dl>
			<dl class="contents-business-entrusted">
				<dt>{{business.text5}}</dt>
				<dd>{{business.text6}}</dd>
				<dd id="businesseapp-desc"><img img src="/img/business/sp/business_img02_sp.png" width="100%" alt="{{business.text5}}"/></dd>
			</dl>
			<dl class="contents-business-businesseapp">
				<dt>{{business.text7}}</dt>
				<dd>{{business.text8}}
				</dd>
				<dd id="maintenance-desc"><img src="/img/business/sp/business_img03_sp.png" width="100%" alt="{{business.text7}}"/></dd>
			</dl>
			<dl class="contents-business-maintenance">
				<dt>{{business.text9}}</dt>
				<dd>{{business.text10}}</dd>
				<dd id="consulting-desc"><img src="/img/business/sp/business_img04_sp.png" width="100%" alt="{{business.text9}}"/></dd>
			</dl>
			<dl class="contents-business-consulting">
				<dt>{{business.text11}}</dt>
				<dd>{{business.text12}}</dd>
				<dd id="smartapp-desc"><img src="/img/business/sp/business_img05_sp.png" width="100%" alt="{{business.text11}}"/></dd>
			</dl>
			<dl class="contents-business-smartapp">
				<dt>{{business.text13}}</dt>
				<dd>{{business.text14}}
				</dd>
				<dd><img src="/img/business/sp/business_img06_sp.png" width="100%" alt="{{business.text13}}"/></dd>
			</dl>
			<h3 id="js-business_performance-desc">{{business.text2}}</h3>
			<ul class="contents-business-performance">
				<li>{{business.text15}}</li>
				<li>{{business.text16}}</li>
				<li>{{business.text17}}</li>
				<li>{{business.text18}}</li>
				<li>{{business.text19}}</li>
				<li>{{business.text20}}</li>
				<li>{{business.text21}}</li>
				<li>{{business.text22}}</li>
				<li>{{business.text23}}</li>
				<li>{{business.text24}}</li>
			</ul>
		</div>
	</div>
	<div class="footer js-footer">
		<ul class="footer-list">
			<li><a href="/policy/">{{footerList.menu1}}</a></li>
			<li><a href="/security/">{{footerList.menu2}}</a></li>
			<li><a href="/partner/">{{footerList.menu3}}</a></li>
		</ul>
		<h2>&copy;bit-agent 2018 All right reserved.</h2>
	</div>
	<div class="pc-layout">
		<ul class="pc-menu">
			<li><a href="/" class="pc-menu-logo">{{title}}</a></li>
			<li><a href="/company/">{{menulist.menu1}}</a></li>
			<li><p class="is-active">{{menulist.menu2}}</p></li>
			<li><a href="/recruit/">{{menulist.menu3}}</a></li>
			<li class="js-is_korean"><a href="/support/">현지서포트</a></li>
			<li><a href="/contact/" class="pc-menu-info">{{menulist.menu4}}</a></li>
			<li>
				<div class="pc-menu-language">
					<a href="javascript:void(0)" class="pc-menu-language-jp js-lang_jp">JP</a>
					<a href="javascript:void(0)" class="pc-menu-language-kr js-lang_kr">KR</a>
				</div>
			</li>
		</ul>
		<div class="pc-contents">
			<a href="#" class="pc-page_top js-pc-page_top"><img src="/img/common/pc/page_top.png" width="50" height="50" /></a>
			<div class="pc-contents-main">
				<p class="pc-contents-main-title pc-contents-main-title--business">{{business.title}}</p>
				<p class="pc-contents-main-img"><img src="/img/business/pc/top.png" width="1080" height="350" alt="{{business.title}}"></p>
			</div>
			<ul class="pc-contents-business_menu">
				<li><a href="#business_info-pc" id="js-business_info-pc">{{business.text1}}</a></li>
				<li><a href="#business_performance-pc" id="js-business_performance-pc">{{business.text2}}</a></li>
			</ul>
			<div class="pc-contents-business">
				<h3 id="js-business_info-desc-pc">{{business.text1}}</h3>
				<div id="ses-desc-pc" class="pc-contents-business-frame">
					<div class="pc-contents-business-frame-left">
						<dl class="pc-contents-business-frame-left-desc">
							<dt>{{business.text3}}</dt>
							<dd>{{business.text4}}<br/><br/>
							</dd>
						</dl>
					</div>
					<div class="pc-contents-business-frame-right">
						<img src="/img/business/pc/business_img01.png" width="100%" alt="SES事業"/>
					</div>
				</div>
				<div id="entrusted-desc-pc" class="pc-contents-business-frame">
					<div class="pc-contents-business-frame-left">
						<img src="/img/business/pc/business_img02.png" width="100%" alt="受託開発"/>
					</div>
					<div class="pc-contents-business-frame-right">
						<dl class="pc-contents-business-frame-right-desc">
							<dt>{{business.text5}}</dt>
							<dd>
								{{business.text6}}
							</dd>
						</dl>
					</div>
				</div>
				<div id="businesseapp-desc-pc" class="pc-contents-business-frame">
					<div class="pc-contents-business-frame-left">
						<dl class="pc-contents-business-frame-left-desc">
							<dt>{{business.text7}}</dt>
							<dd>
								{{business.text8}}
							</dd>
						</dl>
					</div>
					<div class="pc-contents-business-frame-right">
						<img src="/img/business/pc/business_img03.png" width="100%" alt="{{business.text7}}"/>
					</div>
				</div>
				<div id="maintenance-desc-pc" class="pc-contents-business-frame">
					<div class="pc-contents-business-frame-left">
						<img src="/img/business/pc/business_img04.png" width="100%" alt="{{business.text9}}"/>
					</div>
					<div class="pc-contents-business-frame-right">
						<dl class="pc-contents-business-frame-right-desc">
							<dt>{{business.text9}}</dt>
							<dd>{{business.text10}}</dd>
						</dl>
					</div>
				</div>
				<div id="consulting-desc-pc" class="pc-contents-business-frame">
					<div class="pc-contents-business-frame-left">
						<dl class="pc-contents-business-frame-left-desc">
							<dt>{{business.text11}}</dt>
							<dd>
								{{business.text12}}
							</dd>
						</dl>
					</div>
					<div class="pc-contents-business-frame-right">
						<img src="/img/business/pc/business_img05.png" width="100%" alt="{{business.text11}}"/>
					</div>
				</div>
				<div id="smartapp-desc-pc" class="pc-contents-business-frame">
					<div class="pc-contents-business-frame-left">
						<img src="/img/business/pc/business_img06.png" width="100%" alt="スマートフォンアプリ開発・運用保守"/>
					</div>
					<div class="pc-contents-business-frame-right">
						<dl class="pc-contents-business-frame-right-desc">
							<dt>{{business.text13}}</dt>
							<dd>{{business.text14}}</dd>

						</dl>
					</div>
				</div>
				<div class="pc-contents-business-frame">
					<div class="pc-contents-business-frame-left">
						<h3 id="js-business_performance-desc-pc">{{business.text2}}</h3>
						<ul class="pc-contents-business-frame-left-list">
							<li>{{business.text15}}</li>
							<li>{{business.text16}}</li>
							<li>{{business.text17}}</li>
							<li>{{business.text18}}</li>
							<li>{{business.text19}}</li>
							<li>{{business.text20}}</li>
							<li>{{business.text21}}</li>
							<li>{{business.text22}}</li>
							<li>{{business.text23}}</li>
							<li>{{business.text24}}</li>
						</ul>
					</div>
					<div class="pc-contents-business-frame-right">
						<img src="/img/business/pc/business_img07.png" width="100%" alt="{{business.text2}}"/>
					</div>
				</div>
			</div>
			<div class="pc-contents-footer">
				<ul class="pc-contents-footer-list">
					<li><a href="/policy/">{{footerList.menu1}}</a></li>
					<li><a href="/security/">{{footerList.menu2}}</a></li>
					<li><a href="/partner/">{{footerList.menu3}}</a></li>
				</ul>
				<h2>&copy;bit-agent 2018 All right reserved.</h2>
			</div>
		</div>
	</div>
</script>
<div id="output"></div>
<script>
var template = Handlebars.compile($('#business').html());
</script>
</body>
</html>
</li>
